<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="EHRStudyContainer">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the path to the container holding the EHR study.  Use of slashes is very important - it should be in the format '/myProject/ehr'</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="InstitutionName">
            <canSetPerContainer>true</canSetPerContainer>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="EHRAdminUser">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the email address of a valid LabKey site admin user that will used to execute many background processes.  The email does not need to match a valid address, but this user must be created within LabKey.</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="ProtocolPDFContainer">
            <canSetPerContainer>true</canSetPerContainer>
            <description>The is the path to the container holding PDFs of IACUC protocols.  It is usually separate from the EHR study.  Use of slashes is very important - it should be in the format '/myProject/ehr'</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
    <requiredModuleContext>
        <requiredModule name="LDK"/>
    </requiredModuleContext>
    <clientDependencies>
        <dependency path="ehr/ehr_api"/>
    </clientDependencies>
</module>
