* text=auto !eol
ehr/build.xml -text
ehr/ehr-study/datasets/EHRStudy.dataset -text
ehr/ehr-study/datasets/arrival.tsv -text
ehr/ehr-study/datasets/assignment.tsv -text
ehr/ehr-study/datasets/bacteriology.tsv -text
ehr/ehr-study/datasets/behavetrem.tsv -text
ehr/ehr-study/datasets/behavior.tsv -text
ehr/ehr-study/datasets/biopsy.tsv -text
ehr/ehr-study/datasets/biopsydiag.tsv -text
ehr/ehr-study/datasets/biopsyhead.tsv -text
ehr/ehr-study/datasets/birth.tsv -text
ehr/ehr-study/datasets/blood.tsv -text
ehr/ehr-study/datasets/chemisc.tsv -text
ehr/ehr-study/datasets/chemistry.tsv -text
ehr/ehr-study/datasets/clintrem.tsv -text
ehr/ehr-study/datasets/datasets_manifest.xml -text
ehr/ehr-study/datasets/datasets_metadata.xml -text
ehr/ehr-study/datasets/demographics.tsv -text
ehr/ehr-study/datasets/departure.tsv -text
ehr/ehr-study/datasets/drug.tsv -text
ehr/ehr-study/datasets/hemamisc.tsv -text
ehr/ehr-study/datasets/hematology.tsv -text
ehr/ehr-study/datasets/hormtrem.tsv -text
ehr/ehr-study/datasets/immunores.tsv -text
ehr/ehr-study/datasets/labanimals.txt -text
ehr/ehr-study/datasets/mhctype.tsv -text
ehr/ehr-study/datasets/necropsy.tsv -text
ehr/ehr-study/datasets/necropsydiag.tsv -text
ehr/ehr-study/datasets/necropsyhead.tsv -text
ehr/ehr-study/datasets/obs.tsv -text
ehr/ehr-study/datasets/parahead.tsv -text
ehr/ehr-study/datasets/parares.tsv -text
ehr/ehr-study/datasets/parares.txt -text
ehr/ehr-study/datasets/parasitology.tsv -text
ehr/ehr-study/datasets/problem.tsv -text
ehr/ehr-study/datasets/schema.tsv -text
ehr/ehr-study/datasets/surgery.tsv -text
ehr/ehr-study/datasets/surgfluid.tsv -text
ehr/ehr-study/datasets/surghead.tsv -text
ehr/ehr-study/datasets/surgproc.tsv -text
ehr/ehr-study/datasets/surgsum.tsv -text
ehr/ehr-study/datasets/tb.tsv -text
ehr/ehr-study/datasets/tissue.tsv -text
ehr/ehr-study/datasets/treatment_order.tsv -text
ehr/ehr-study/datasets/treatments.tsv -text
ehr/ehr-study/datasets/urine.tsv -text
ehr/ehr-study/datasets/weight.tsv -text
ehr/ehr-study/lists/lists.xml -text
ehr/ehr-study/lists/project.tsv -text
ehr/ehr-study/lists/reports.tsv -text
ehr/ehr-study/lists/snomed.tsv -text
ehr/ehr-study/reports/Weight[!!-~]Graph.db_2.report.xml -text
ehr/ehr-study/study.xml -text
ehr/module.properties -text
ehr/src/META-INF/ehr/ehr.sql -text
ehr/src/org/labkey/ehr/EHRContainerListener.java -text
ehr/src/org/labkey/ehr/EHRController.java -text
ehr/src/org/labkey/ehr/EHRManager.java -text
ehr/src/org/labkey/ehr/EHRModule.java -text
ehr/src/org/labkey/ehr/EHRProperties.java -text
ehr/src/org/labkey/ehr/EHRSchema.java -text
ehr/src/org/labkey/ehr/query/AccountingTable.java -text
ehr/src/org/labkey/ehr/query/DepivotedStudyTable.java -text
ehr/src/org/labkey/ehr/query/EHRQuerySchema.java -text
ehr/src/org/labkey/ehr/view/begin.jsp -text
ehr/tools/FixTabs.java -text
ehr/tools/batchtsv.sh -text
ehr/tools/fixmeta.js -text
ehr/tools/notes -text
ehr/tools/scripts/dataset/arrival.sql -text
ehr/tools/scripts/dataset/assignment.sql -text
ehr/tools/scripts/dataset/bacteriology.sql -text
ehr/tools/scripts/dataset/behavetrem.sql -text
ehr/tools/scripts/dataset/biopsy.sql -text
ehr/tools/scripts/dataset/biopsydiag.sql -text
ehr/tools/scripts/dataset/birth.sql -text
ehr/tools/scripts/dataset/blood.sql -text
ehr/tools/scripts/dataset/chemisc.sql -text
ehr/tools/scripts/dataset/chemistry.sql -text
ehr/tools/scripts/dataset/clintrem.sql -text
ehr/tools/scripts/dataset/demographics.sql -text
ehr/tools/scripts/dataset/departure.sql -text
ehr/tools/scripts/dataset/drug.sql -text
ehr/tools/scripts/dataset/hemamisc.sql -text
ehr/tools/scripts/dataset/hematology.sql -text
ehr/tools/scripts/dataset/hormtrem.sql -text
ehr/tools/scripts/dataset/immunores.sql -text
ehr/tools/scripts/dataset/mhctype.sql -text
ehr/tools/scripts/dataset/necropsy.sql -text
ehr/tools/scripts/dataset/necropsydiag.sql -text
ehr/tools/scripts/dataset/obs.sql -text
ehr/tools/scripts/dataset/parares.sql -text
ehr/tools/scripts/dataset/parasitology.sql -text
ehr/tools/scripts/dataset/problem.sql -text
ehr/tools/scripts/dataset/surgery.sql -text
ehr/tools/scripts/dataset/surgfluid.sql -text
ehr/tools/scripts/dataset/surgproc.sql -text
ehr/tools/scripts/dataset/surgsum.sql -text
ehr/tools/scripts/dataset/tb.sql -text
ehr/tools/scripts/dataset/tissue.sql -text
ehr/tools/scripts/dataset/treatment_order.sql -text
ehr/tools/scripts/dataset/urine.sql -text
ehr/tools/scripts/dataset/weight.sql -text
ehr/tools/scripts/setup/setup.sql -text
ehr/tools/util.js -text
