<html>
<script type="text/javascript">

LABKEY.requiresScript("/WNPRC_Main/navMenu.js");

Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.UTILITIES || !window.EHR.UTILITIES.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }

    new EHR.UTILITIES.navMenu({
        target: 'complianceNav',
        sections: [
            {header: 'Public Pages',
            items: [
                {name: 'My Requirement Status', url: '<%=contextPath%>/EHR_ComplianceDB/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/My_Requirements.view?'},
                {name: 'View and Certify SOPs', url: '<%=contextPath%>/EHR_ComplianceDB/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/SOP_submission.view?'}
            ]},
            {header: 'Employee Information',
            items: [
                {name: 'WNPRC Employee Information', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=61'},
                {name: 'Non-Standard Employee Requirements', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=59'},
                {name: 'Requirement Completion Records', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=62'},
                {name: 'Requirement Completion Overview', url: '<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=lists&query.queryName=ComplianceRecentTests'}
            ]},
            {header: 'Compliance Staff',
            items: [
                {name: 'View/Edit Requirements Tracked In System', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=50'},
                {name: 'View/Edit SOPs', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=57'},
                {name: 'View/Edit SOPs Required For Each Employee Category', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=54'}
            ]},
            {header: 'Maintenance',
            items: [
                {name: 'View/Edit Allowable Employee Categories', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=56'},
                {name: 'View/Edit Allowable Employee Types', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=51'},
                {name: 'View/Edit Allowable WNPRC Locations', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=52'},
                {name: 'View/Edit Allowable WNPRC Unit Names', url: '<%=contextPath%>/list<%=containerPath%>/grid.view?listId=53'}
            ]}
        ]
    });

}

</script>
<body>

<div id="complianceNav"></div>

</body>
</html>