<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>

<script type="text/javascript">
	LABKEY.requiresClientAPI();
	var WebPartRenderer = new LABKEY.WebPart({
		partName: 'Reporting',
		renderTo: 'webpartDiv',
		frame: 'none',
		partConfig: {
			name: 'name',
			title: 'Example',
			}
		})
	WebPartRenderer.render();
</script>
</head>
<body>
	<div id='webpartDiv'><div>
</body>
</html>