<html>
<script type="text/javascript">

LABKEY.requiresScript("/WNPRC_Main/navMenu.js");

Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.UTILITIES || !window.EHR.UTILITIES.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }

    new EHR.UTILITIES.navMenu({
        target: 'complianceNav',
        sections: [
            {header: 'Employee Information',
            items: [
                {name: 'WNPRC Employee Information', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=141'},
            ]},
            {header: 'Requirements and Compliance',
            items: [
                {name: 'View/Edit Requirements Tracked In System', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=146'},
                {name: 'View/Edit Non-Standard Employee Requirements', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=142'},
                {name: 'View/Edit Dates Employees Completed Requirements', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=145'},
                {name: 'Requirement Completion Overview', url: '<%=contextPath%>/query/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/executeQuery.view?schemaName=lists&query.queryName=ComplianceRecentTests'}
            ]},
            {header: 'Maintenance',
            items: [
                {name: 'View/Edit Allowable Employee Categories', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=144'},
                {name: 'View/Edit Allowable Employee Types', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=143'},
                {name: 'View/Edit Allowable WNPRC Locations', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=140'},
                {name: 'View/Edit Allowable WNPRC Unit Names', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=147'}
            ]}
        ]
    });

}

</script>
<body>

<div id="complianceNav"></div>

</body>
</html>