<html>
<head>
    <script type="text/javascript">

        Ext.onReady(function()
        {

            var userName = LABKEY.Security.currentUser.displayName;

            //we find this employee's info
            var employeeRecord = new LABKEY.ext.Store({
                schemaName: 'lists',
                queryName: 'Employees',
                containerPath: 'WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/',
                //need to update once we have real unique IDs in the tables
                filterArray: [LABKEY.Filter.create('Email', userName, LABKEY.Filter.Types.EQUAL)
                ]
            });

            employeeRecord.on('load', loadRequirements);
            employeeRecord.load();

            function loadRequirements()
            {
                if (employeeRecord.data.items.length < 1){alert('No Records Found for user ID: '+userName);return;}

                employeeRecord = employeeRecord.data.items[0];

                //we display a list of all requirements for this person
                var requirementStore = new LABKEY.ext.Store({
                    schemaName: 'lists',
                    queryName: 'ComplianceRecentTests',
                    containerPath: 'WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/',
                    //TODO: need to update once we have real unique IDs in the tables
                    columns: 'Id,RequirementName,ExpirePeriod,MostRecentDate,MonthsUntilRenewal',
                    filterArray: [LABKEY.Filter.create('Id', employeeRecord.get('Id'), LABKEY.Filter.Types.EQUAL)
                    ],
                    sort: 'RequirementName'
                });

                var requirementGrid = new LABKEY.ext.EditorGridPanel({
                    store: requirementStore
                    ,applyTo: 'myRequirementsDiv'
                    ,width: 1200
                    ,autoHeight: true
                    ,title: 'My Requirements'
                    ,editable: false
                    ,stripeRows: true
                    ,disableSelection: true
                });

            }

        });


    </script>
</head>

<body>
<p>

<div id='myRequirementsDiv'>
    <div>


</body>
</html>