<u>Public Pages:</u>
<table border=0>
    <tr>
        <td><a href="<%=contextPath%>/EHR_ComplianceDB/EHRTest/Compliance/my_requirements.view?">View My Requirement
            Status</a></td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/EHR_ComplianceDB/EHRTest/Compliance/SOP_submission.view?">View and Certify
            SOPs</a></td>
    </tr>
</table>

<p>
    <u>Employee Information:</u>
<table border=0>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=18">WNPRC Employee Information</a>
        </td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=35">Non-Standard Employee
            Requirements</a></td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=20">Requirement Completion Records</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=lists&query.queryName=ComplianceRecentTests">Requirement
                Completion Overview</a></td>
    </tr>
</table>

<p>

    <u>Compliance Staff:</u>
<table border=0>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=19">Requirements Tracked In System</a>
        </td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=33">SOP Master List</a></td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=34">SOPs Required For Each Employee
            Category</a></td>
    </tr>
</table>

<p>

    <u>System Maintenance:</u>
<table border=0>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=28">Allowable Employee Categories</a>
        </td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=32">Allowable Employee Types</a></td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=29">Allowable WNPRC Locations</a></td>
    </tr>
    <tr>
        <td><a href="<%=contextPath%>/list<%=containerPath%>/grid.view?listId=30">Allowable WNPRC Unit Names</a>
        </td>
    </tr>

</table>