<table border=0 style="width:150">
<tr>
	<td><a href="/labkey/assay/home/begin.view?">Assays</a></td>
</tr>
<tr>
	<td><a href="/labkey/experiment/home/begin.view?">Experiment Database</a></td>
</tr>
<tr>
	<td><a href="/labkey/reporting/home/reporting.view?">Reporting</a></td>
</tr>
<tr>
	<td><a href="/labkey/project/EHRTest/Import%20Test/begin.view?">EHR Test</a></td>
</tr>
    <tr>
        <td><a href="/labkey/study/EHRTest/Import Test/manageStudy.view?">Manage Study</a></td>
</tr>
<tr>
    <td><a href="/labkey/project/EHRTest/Compliance/begin.view?">Compliance DB</a></td>
</tr>
</table>

