<html>
<head>
<script type="text/javascript">

Ext.onReady(function()
{

    var userName = LABKEY.Security.currentUser.email;

    //we look up this employee's information
    LABKEY.Query.selectRows({
        schemaName: 'lists',
        queryName: 'Employees',
        containerPath: 'WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/',
        //TODO: needs to be updated once we have LDAP
        filterArray: [LABKEY.Filter.create('Email', userName, LABKEY.Filter.Types.EQUAL)],
        successCallback: onSuccess
    });

    function onSuccess(results)
    {
        if (results.rows.length < 1){alert('No Employee Record Found for User: '+userName);return;}

        var employeeCategory = results.rows[0]['Category'];
        var employeeID = results.rows[0]['Id'];
        var lastName = results.rows[0]['LastName'];
        var email = results.rows[0]['Email'];

        //then we display a list of all their required SOPs
        var sopGrid = new LABKEY.ext.EditorGridPanel({
            store: new LABKEY.ext.Store({
                schemaName: 'lists',
                queryName: 'SOPbyCategory',
                containerPath: 'WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/SOPs/',
                columns: 'Category,SOP_ID,SOP_ID/Name,SOP_ID/PDF',
                filterArray: [LABKEY.Filter.create('Category', employeeCategory, LABKEY.Filter.Types.EQUAL)],
                sort: 'SOPID'
            })
            ,applyTo: 'sopDiv'
            ,width: 1000
            ,autoHeight: true
            ,editable: false
            ,title: 'Required SOPs For All Employees of Category: ' + employeeCategory
            ,stripeRows: true
            ,disableSelection: true
        });

        //here is simple JS to make the form
        var theForm = document.getElementById('SOPform');
        var un = document.createElement('input');
        un.name = 'userName';
        un.value = userName;
        un.type = 'hidden';
        theForm.appendChild(un);

        var rn = document.createElement('input');
        un.name = 'requirementName';
        un.value = 'SOP';
        un.type = 'hidden';
        theForm.appendChild(un);

        var submit = document.getElementById("SOPsubmitButton");
        submit.onclick = function(){submitRequest(employeeID, lastName, email)}
    }


});

function submitRequest(employeeID, lastName, email) {
    if (!document.getElementById('sopCheck').checked){
        alert('You must check the box above the submit button to certify you have read your SOPs');
        return false;
    }

    // Insert form data into the list.
     LABKEY.Query.insertRows({
         containerPath: 'WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/',
         schemaName: 'lists',
         queryName: 'CompletionDates',
         rowDataArray: [{
            RequirementName: 'SOP Review'
            ,EmployeeId: employeeID
            ,Date: new Date().format("Y-m-d")
            }],
         successCallback: function(){
            alert('Thank You for Reading Your SOPs')
         },
         failureCallback: function(errorInfo) {
            Ext.Msg.alert("Error:", errorInfo);
            }
        });

 }


</script>
</head>
<body>
<br>

<div id="sopDiv"></div>

<br><br>
<hr>

<br>
<table border="1" id="SOPform">
    <tr>
        <td>
            I Certify That I have read all the required SOPs.
            <input type="checkbox" id="sopCheck" value="1"/>
            <br><br>
            <button id="SOPsubmitButton">Submit</button>
        </td>
    </tr>
</table>
</body>
</html>