<html>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/navMenu.js");

Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.utils || !window.EHR.utils.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }

    new EHR.utils.navMenu({
        renderTo: 'sopNav',
        sections: [
            {header: 'SOPs',
            items: [
                {name: 'SOP Issue Tracker', url: '<%=contextPath%>/issues/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/SOPs/list.view?Issues.Status~eq=open'},
                {name: 'View/Edit SOPs', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Public/SOPs/grid.view?listId=129'},
                {name: 'View/Edit SOPs Required For Each Employee Category', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=130'},
                {name: 'View/Edit Dates Employees Read Their SOPs', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/grid.view?listId=1415'},
                {name: 'View The Most Recent Date Employees Read Each SOPs', url: '<%=contextPath%>/list/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/executeQuery.view?schema=lists&query.queryName=SOPrequirements'}
            ]}
        ]
    });

}

</script>
<body>

<div id="sopNav"></div>

</body>
</html>