<html>
<script type="text/javascript">

LABKEY.requiresScript("/WNPRC_Main/navMenu.js");


Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.UTILITIES || !window.EHR.UTILITIES.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }


    new EHR.UTILITIES.navMenu({
        target: 'animalCare1',
        sections: [
            {header: 'By Animal',
            items: [
                {name: 'Animal History', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?'},
                {name: 'Animal Search', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalSearch.view?'}
                ]},
            {header: 'By Dataset',
            items: [
                {name: 'Browse All Datasets', url: '<%=contextPath%>/study/WNPRC/EHR/datasets.view?'},
                {name: 'Protocol and Project Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/projectQueries.view?'}
            ]},
            {header: 'By Room',
            items: [
                {name: 'Housing Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/housingQueries.view?'},
                {name: 'Room Utilization', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=roomCheck'}
            ]}
        ]
    });


    new EHR.UTILITIES.navMenu({
        target: 'animalCare2',
        sections: [
            {header: 'Entire Colony',
            items: [
                {name: 'Animal Utilization', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyAssignmentSummary'},
                //{name: 'Clinical Summary', url: '<%=contextPath%>/ehr/WNPRC/EHR/clinicalOverview.view?'},
                {name: 'MHC Genotype Summary', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=alleleFrequencies'},
                //{name: 'Population Summary', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyPopulationSummary'},
                {name: 'Population Summary', url: '<%=contextPath%>/ehr/WNPRC/EHR/populationOverview.view?'},
                {name: 'Room Utilization', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=RoomUtilization'},
                {name: 'Viral Challenges', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=demographicsViralChallenge'}
            ]},
            {header: 'Validation',
            items: [
                {name: 'Animal/Cage Size Check', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=roomCheck'},
                {name: 'Loners', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=demographicsDaysAlone'},
                {name: 'Unweighed Animals', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=roomCheck'}
            ]}
        ]
    });


    var menuCfg = {
        target: 'animalCare3',
        sections: [
            {header: 'Misc',
            items: [
                {name: 'Search WNPRC SNOMED Codes', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=snomed'},
                {name: 'Search ALL SNOMED Codes', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=newsnomed'}
            ]}
        ]
    };

//    if (LABKEY.Security.currentUser.isAdmin){
//        menuCfg.sections.push({
//            header: 'Admin',
//            items: [
//                {name: 'Manage EHR Study', url: '<%=contextPath%>/study/WNPRC/EHR/manageStudy.view?'},
//                {name: 'EHR Admin Page', url: '<%=contextPath%>/ehr/WNPRC/EHR/ehrAdmin.view'},
//                {name: 'Form Test', url: '<%=contextPath%>/ehr/WNPRC/EHR/formTest.view'}
//            ]
//        })
//
//    }

    new EHR.UTILITIES.navMenu(menuCfg);

}

</script>
<body>

<div style="max-width:900px">
    Below is a prototype of what an Animal Care main page might look like.  If you have any comments or suggestions, please submit a request <a href="<%=contextPath%>/issues/WNPRC/WNPRC_Units/Research_Services/Research_Computing/Issue_Tracker/list.view?" target="new">here</a>
    <br><br>
</div>

<table>
<tr style="vertical-align:top">
    <td style="width:275px">
        <div id="animalCare1"></div>
    </td>
    <td style="width:275px;vertical-align:top">
        <div id="animalCare2"></div>
    </td>
    <td style="width:275px">
        <div id="animalCare3"></div>
    </td>
</tr>




</table>

<div id="ehrMenu"></div>



</body>
</html>

