<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/searchForm.js");

Ext.onReady(function ()
{
    new EHR.ext.customPanels.searchForm({
        schemaName: 'study'
        ,queryName: 'Animal'
        ,title: 'Search Animals'
        ,defaultView: 'Alive, at WNPRC'                
        ,metadata: {
            Id: {lookups: false}
            ,DataSet: {isHidden: true}
            ,Cohort: {isHidden: true}
            ,InitialCohort: {isHidden: true}
            ,Age: {isHidden: true}
            ,Surgery: {isHidden: true}
            ,activeAssignments: {isHidden: true}
            ,curLocation: {isHidden: true}
            ,numRoommates: {isHidden: true}
            ,MostRecentWeight: {isHidden: true}
            ,Species: {isHidden: true}
            ,Status: {isHidden: true}
            ,totalOffspring: {isHidden: true}
            ,MostRecentTB: {isHidden: true}
            ,MostRecentArrival: {isHidden: true}
            ,MostRecentDeparture: {isHidden: true}
            ,MHCtyping: {isHidden: true}
            ,CageClass: {isHidden: true}
            ,AvailBlood: {isHidden: true}
            ,DaysAlone: {isHidden: true}
            ,AgeClass: {isHidden: true}
            ,totalAssignments: {isHidden: true}
        }
        ,newFields: [
            {caption: 'Cohort', name: 'Cohort/label'}
            ,{caption: 'Age', name: 'age/AgeInYears', jsonType: 'int'}
            ,{caption: 'Age', name: 'age/AgeInYears', jsonType: 'int'}
            ,{caption: 'Current Room', name: 'curLocation/room'}
            //,{caption: 'Last TB Date', name: 'mostRecentTB'}
            //,{caption: 'Num. of Active Assignments', name: 'activeProjects/ActiveProjects (avail=all)'}
            ,{caption: 'Num. of Offspring', name: 'totalOffspring/TotalOffspring', jsonType: 'int'}
            ,{caption: 'Num. of Roommates', name: 'numRoommates/numRoommates', jsonType: 'int'}
            ,{caption: 'Species', name: 'Species/species', lookup: {schemaName: 'lists', queryName: 'species', displayColumn: 'common', keyColumn: 'common'}
            }
            ,{caption: 'Gender', name: 'DataSet/Demographics/gender', lookup: {schemaName: 'lists', queryName: 'gender_codes', displayColumn: 'code', keyColumn: 'meaning'}}
            ,{caption: 'Dam', name: 'DataSet/Demographics/dam'}
            ,{caption: 'Sire', name: 'DataSet/Demographics/sire'}
            ,{caption: 'Availability', name: 'DataSet/Demographics/avail', lookup: {schemaName: 'lists', queryName: 'avail', displayColumn: 'code', keyColumn: 'meaning'}}
            ,{caption: 'Hold', name: 'DataSet/Demographics/hold'}
            ,{caption: 'Birth', name: 'DataSet/Demographics/birth', jsonType: 'date'}
            ,{caption: 'Origin', name: 'DataSet/Demographics/origin', lookup: {schemaName: 'lists', queryName: 'origin', displayColumn: 'code', keyColumn: 'code'}}
            ,{caption: 'Death', name: 'DataSet/Demographics/death', jsonType: 'date'}
            ,{caption: 'Viral Status', name: 'DataSet/Demographics/v_status', lookup: {schemaName: 'lookups', queryName: 'viral_status', displayColumn: 'viral_status', keyColumn: 'viral_status'}}
            ,{caption: 'Most Recent Weight', name: 'MostRecentWeight/MostRecentWeight', jsonType: 'float'}
            ,{caption: 'Most Recent Weight', name: 'MostRecentWeight/MostRecentWeight', jsonType: 'float'}
            //,{caption: 'Most Recent Weight Date', name: 'MostRecentWeight/MostRecentWeightDate', jsonType: 'date'}
            //major surgery
            //blood summary
            //mhc
         ]
    }).render('animalSearch');
});


</script>
</head>

<body align="center">
<p>
    This page contains a prototype interface to identify animals based on multiple criteria.
<p/>
    <ul>
        <li>
            <a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Animal&query.viewName=Alive%2C at WNPRC">Browse All Animals Living at WNPRC</a>
        </li>
        <li>
            <a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Animal&query.viewName=All WNPRC">Browse All WNPRC Animals</a>
        </li>
        <li>
            <a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Colony Population By Age">Population Summary By Species, Gender and Age</a>
        </li>
        <!--<li>-->
            <!--<a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?chooseColumns.view?schemaName=study&query.queryName=Animal&srcURL=%2Flabkey%2Fquery%2FWNPRC%2FEHR%2FexecuteQuery.view%3FschemaName%3Dstudy%26query.queryName%3DAnimal%26query.viewName%3DAlive%252C%2520at%2520WNPRC&dataRegionName=query&queryName=Animal&viewName=Alive%2C%20at%20WNPRC">Advanced Search</a>-->
        <!--</li>-->
    </ul>
<p/>
<p>

<div id="navigation"></div>

<form id="reportForm" action="">
    <div id="animalSearch"></div>
</form>

<br><br>

<div id="reportDiv"></div>

</body>
</html>