<script type="text/javascript">

Ext4.onReady(function (){
    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    EHR.Utils.getReportLinks({
        linkTypes: ['animalSearch'],
        success: function(response){
            var categories = [];
            var map = {};
            Ext4.each(response.items, function(item){
                if (!item.category)
                    return;

                if (categories.indexOf(item.category) == -1){
                    categories.push(item.category);
                }

                if (!map[item.category]){
                    map[item.category] = [];
                    map[item.category].push({
                        tag: 'h3',
                        html: '<b>' + item.category + '</b>'
                    });
                    map[item.category].push({
                        tag: 'ul',
                        children: []
                    });
                }

                map[item.category][1].children.push({
                    tag: 'li',
                    html: '<a href="' + LABKEY.ActionURL.buildURL(item.controller, item.action, ctx['EHRStudyContainer'], item.params) + '">' + item.label + '</a>'
                });
            }, this);

            var domSpec = [{
                tag: 'div',
                children: [{
                    tag: 'p',
                    html: 'This page allows you to identify animals across the colony, based on different criteria.  Examples of this could include identifying animals to enroll in a study, or determining which animals are due for TB Testing.  Below are links to pre-defined reports, or you can use the search panel below to begin querying the animals.'
                }]
            }];

            if (categories.length){
                Ext4.each(categories, function(c){
                    domSpec = domSpec.concat(map[c]);
                }, this);
            }

            domSpec = domSpec.concat([{
                tag: 'div',
                style: 'padding-top: 20px;',
                id: 'animalSearch_'+webpart.wrapperDivId
            }]);

            var el = Ext4.get(webpart.wrapperDivId);
            Ext4.DomHelper.append(el, domSpec);

            Ext4.create('LABKEY.ext4.SearchPanel', {
                schemaName: 'study',
                queryName: 'Demographics',
                viewName: 'Search Panel',
                title: 'Search Animals',
                defaultViewName: 'Alive, at Center',
                LABEL_WIDTH: 200,
                width: 660,
                metadata: {
                    Id: {lookups: false},
                    'Id/age/AgeInYearsRounded': {duplicate: true},
                    'Id/MostRecentWeight/MostRecentWeight': {duplicate: true}
                }
            }).render('animalSearch_'+webpart.wrapperDivId);
        },
        failure: LDK.Utils.getErrorCallback,
        scope: this
    });
});

</script>