<html>
<script type="text/javascript">

LABKEY.requiresScript("/WNPRC_Main/navMenu.js");


Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.UTILITIES || !window.EHR.UTILITIES.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }


    new EHR.UTILITIES.navMenu({
        target: 'ehrMenu1',
        sections: [
            {header: 'By Animal',
            items: [
                {name: 'Animal History', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?'},
                {name: 'Animal Search', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalSearch.view?'}
                ]},
            {header: 'By Dataset',
            items: [
                {name: 'Browse All Datasets', url: '<%=contextPath%>/study/WNPRC/EHR/datasets.view?'},
                {name: 'Clincal Remarks', url: '<%=contextPath%>/study/WNPRC/EHR/defaultDatasetReport.view?datasetId=1067'},
                {name: 'Housing Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/housingQueries.view?'},
                {name: 'Protocol and Project Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/projectQueries.view?'}
            ]},
            {header: 'By Location',
            items: [
                {name: 'Search By Room, Floor or Cage', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?inputType=renderRoomCage'},
                {name: 'Irregular Obs By Location', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?inputType=renderRoomCage&report=obs'},
                {name: 'Clincal Remarks By Location', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?inputType=renderRoomCage&report=clinremarks'}
            ]}
        ]
    });


    new EHR.UTILITIES.navMenu({
        target: 'ehrMenu2',
        sections: [
            {header: 'Entire Colony',
            items: [
                {name: 'Animal Utilization By Category', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyAssignmentSummary'},
                {name: 'Colony Population By Age', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyPopulationByAge'},
                {name: 'MHC Genotype Summary', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=alleleFrequencies'},
                {name: 'Population Summary', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyPopulationSummary'},
//                {name: 'Population Summary', url: '<%=contextPath%>/ehr/WNPRC/EHR/populationOverview.view?'},
                {name: 'Room Utilization', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=RoomUtilization'},
                {name: 'Viral Challenges', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=demographicsViralChallenge'}
            ]},
            {header: 'Validation',
             items: [
                 {name: 'Animal/Cage Size Check', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=roomCheck'},
                 {name: 'Loners', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=animal&query.viewName=Loners'},
//                 {name: 'Loners', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=demographicsDaysAlone'},
                 {name: 'TB Tests', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=animal&query.viewName=TB'},
                 {name: 'Unweighed Animals', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=animal&query.viewName=Unweighed'}
             ]}

        ]
    });

    var menuCfg = {
        target: 'ehrMenu3',
        sections: [
            {header: 'Misc',
            items: [
                {name: 'About the EHR Project', url: '<%=contextPath%>/project/WNPRC/EHR/About The EHR/begin.view?'},
                {name: 'Search WNPRC SNOMED Codes', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=snomed'},
                {name: 'Search ALL SNOMED Codes', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=lists&query.queryName=newsnomed'},                    
                {name: 'Utilities', url: '<%=contextPath%>/ehr/WNPRC/EHR/utilities.view?'}
            ]}
        ]
    };

    if (LABKEY.Security.currentUser.isAdmin){
        menuCfg.sections.push({
            header: 'Admin',
            items: [
                {name: 'Manage EHR Study', url: '<%=contextPath%>/study/WNPRC/EHR/manageStudy.view?'},                
                {name: 'EHR Admin Page', url: '<%=contextPath%>/ehr/WNPRC/EHR/ehrAdmin.view'},
                {name: 'Form Test', url: '<%=contextPath%>/ehr/WNPRC/EHR/formTest.view'},
                {name: 'Animal Care Staff', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalCare.view?'}
            ]
        })

    }

    new EHR.UTILITIES.navMenu(menuCfg);

}

</script>
<body>

<div style="max-width:900px">
    Below are the sections of the Electronic Health Record.  The EHR currently is a read-only mirror of WNPRC colony records.  It contains reports designed to mirror those available through the existing UNIX and web interfaces.  If there are additional reports you would like, please submit a request <a href="<%=contextPath%>/issues/WNPRC/WNPRC_Units/Research_Services/Research_Computing/Issue_Tracker/list.view?" target="new">here</a>
    <br><br>
</div>

<table>
<tr style="vertical-align:top">
<td colspan="3">
    <a class="labkey-main-title">
        Electronic Health Record:
    </a>
    <p/>
</td>
</tr>
<tr style="vertical-align:top">
    <td style="width:275px">
        <div id="ehrMenu1"></div>
    </td>
    <td style="width:275px;vertical-align:top">
        <div id="ehrMenu2"></div>
    </td>
    <td style="width:275px">
        <div id="ehrMenu3"></div>
    </td>
</tr>




</table>

<div id="ehrMenu"></div>

</body>
</html>