<script type="text/javascript">

LABKEY.requiresScript("/ehr/ehrDetailsPanel.js");
LABKEY.requiresScript("/ehr/utils.js");

Ext.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Biopsy Number'); return false;}

    var key = LABKEY.ActionURL.getParameter('key');

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        id :'biopsyDetails_' + webpart.wrapperDivId
    },{
        tag: 'div',
        id :'biopsyDiagnosis_' + webpart.wrapperDivId,
        style: 'padding-bottom: 20px;'
    },{
        tag: 'div',
        id :'histologyDiv_' + webpart.wrapperDivId,
    }];

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Biopsies',
        title: 'Biopsy Details:',
        renderTo: 'biopsyDetails_'+webpart.wrapperDivId,
        filterArray: [LABKEY.Filter.create('objectId', key, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Morphologic Diagnoses',
        schemaName: 'study',
        queryName: 'Morphologic Diagnosis',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentid', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('biopsyDiagnosis_'+webpart.wrapperDivId);


    new LABKEY.QueryWebPart({
        title: 'Histology',
        schemaName: 'study',
        queryName: 'Histology',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentid', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('histologyDiv_'+webpart.wrapperDivId);
});

</script>