<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/    ehrDetailsPanel.js");
LABKEY.requiresScript("/ehr/utils.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Biopsy Number'); return false;}

    var key = LABKEY.ActionURL.getParameter('key');

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Biopsies',
        title: 'Biopsy Details:',
        renderTo: 'biopsyDetails',
        filterArray: [LABKEY.Filter.create('objectId', key, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Morphologic Diagnoses',
        schemaName: 'study',
        queryName: 'Morphologic Diagnosis',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('biopsyDiagnosis');


    new LABKEY.QueryWebPart({
        title: 'Histology',
        schemaName: 'study',
        queryName: 'Histology',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('histologyDiv');


});

</script>
</head>
<body>
    <p/>

	<div id='biopsyDetails'></div>

    <p/>

    <div id='biopsyReport'></div>

    <p/>

    <div id='biopsyDiagnosis'></div>

    <p/>

    <div id='histologyDiv'></div>

</body>
</html>