<script type="text/javascript">
    LABKEY.requiresScript("/ehr/ehrDetailsPanel.js");
</script>
<script type="text/javascript">

Ext.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('room')){
        alert('Must Provide Location'); return false;
    }

    var webpart = <%=webpartContext%>;

    var domSpec = [{
        tag: 'div',
        id :'cageDetails_' + webpart.wrapperDivId,
        style: 'padding-bottom: 20px;'
    },{
        tag: 'div',
        id :'activeAnimals_' + webpart.wrapperDivId,
        style: 'padding-bottom: 20px;'
    },{
        tag: 'div',
        id :'cageNotes_' + webpart.wrapperDivId,
        style: 'padding-bottom: 20px;'
    },{
        tag: 'div',
        id :'allAnimals_' + webpart.wrapperDivId
    }];

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    var filterArray = [LABKEY.Filter.create('room', LABKEY.ActionURL.getParameter('room'), LABKEY.Filter.Types.EQUAL)];

    if (LABKEY.ActionURL.getParameter('cage')){
        filterArray.push(LABKEY.Filter.create('cage', LABKEY.ActionURL.getParameter('cage'), LABKEY.Filter.Types.EQUAL));
    }

    if (LABKEY.ActionURL.getParameter('cage')){
        new EHR.ext.DetailsView({
            schemaName: 'ehr_lookups',
            queryName: 'cage',
            title: 'Cage Details:',
            renderTo: 'cageDetails_' + webpart.wrapperDivId,
            filterArray: filterArray
        });
    }
    else {
        new LABKEY.QueryWebPart({
            title: 'Cage Details:',
            schemaName: 'ehr_lookups',
            queryName: 'cage',
            allowChooseQuery: false,
            allowChooseView: true,
            showRecordSelectors: true,
            buttonBarPosition: 'top',
            filterArray: filterArray,
            scope: this,
            failure: EHR.Utils.onError
         }).render('cageDetails_' + webpart.wrapperDivId);
    }

    new LABKEY.QueryWebPart({
        title: 'All Animals Ever Housed',
        schemaName: 'study',
        queryName: 'Housing',
        allowChooseQuery: false,
        allowChooseView: true,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filterArray: filterArray,
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('allAnimals_' + webpart.wrapperDivId);


    new LABKEY.QueryWebPart({
        title: 'Cage Observations For This Location',
        schemaName: 'ehr',
        queryName: 'cage_observations',
        allowChooseQuery: false,
        allowChooseView: true,
        buttonBarPosition: 'top',
        filterArray: filterArray,
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('cageNotes_' + webpart.wrapperDivId);

    filterArray.push(LABKEY.Filter.create('enddate', null, LABKEY.Filter.Types.ISBLANK));
    new LABKEY.QueryWebPart({
        title: 'Animals Currently Housed',
        schemaName: 'study',
        queryName: 'Housing',
        allowChooseQuery: false,
        allowChooseView: true,
        buttonBarPosition: 'top',
        showRecordSelectors: true,
        filterArray: filterArray,
        timeout: 0,
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('activeAnimals_' + webpart.wrapperDivId);

});

</script>