<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("ehr/utilities.js");
Ext.Ajax.timeout = 120000; //in milliseconds

</script>
<script type="text/javascript">

Ext.onReady(function(){

    new LABKEY.QueryWebPart({
         title: 'Problem List',
         schemaName: 'study',
         queryName: 'problem',
         viewName: 'Unresolved Problems',
         sort: '-Date',
         allowChooseQuery: false,
         allowChooseView: true,
         showInsertNewButton: false,
         showDeleteButton: false,
         showDetailsColumn: false,
         showUpdateColumn: false,
         buttonBarPosition: 'top',
         //maxRows: 40,
         errorCallback: EHR.UTILITIES.onError,
         scope: this
     }).render('problemList');


    new LABKEY.QueryWebPart({
         title: 'Observations from Today',
         schemaName: 'study',
         queryName: 'obs',
         //viewName: '',
         sort: '-Date',
         allowChooseQuery: false,
         allowChooseView: true,
         showInsertNewButton: false,
         showDeleteButton: false,
         showDetailsColumn: false,
         showUpdateColumn: false,
         buttonBarPosition: 'top',
         //filterArray: [],
         //maxRows: 40,
         errorCallback: EHR.UTILITIES.onError,
         scope: this
     }).render('dailyObs');



    //clin remarks?
    //inroom
    
    

});

</script>
</head>

<body>
    The purpose of this page is to provide a clinical summary of the WNPRC colony.  If you suggestions on reports or information that would be useful, please report them through the 'User Feedback' menu above.

    <p/>

	<div id='problemList'><span class="loading-indicator">Loading...</span></div>
    <p/>


    <div id='dailyObs'><span class="loading-indicator">Loading...</span></div>
    <p/>


</body>
</html>
