<script type="text/javascript">

Ext4.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('objectid')){
        alert('Must Provide Key');
        return false;
    }

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        id: 'runDetails_'+webpart.wrapperDivId,
        style: 'padding-bottom: 10px;'
    },{
        tag: 'div',
        id: 'results_'+webpart.wrapperDivId
    }];

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);


    Ext4.create('LABKEY.ext.DetailsPanel', {
        border: false,
        showTitle: false,
        store: {
            schemaName: 'study',
            queryName: 'Clinpath Runs',
            filterArray: [LABKEY.Filter.create('objectid', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)]
        },
        showBackBtn: false,
        renderTo: 'runDetails_' + webpart.wrapperDivId
    });

    LABKEY.Ajax.request({
        url: LABKEY.ActionURL.buildURL('ehr', 'getLabResultSummary'),
        params: {
            runId: LABKEY.ActionURL.getParameter('objectid')
        },
        scope: this,
        failure: LABKEY.Utils.getCallbackWrapper(LDK.Utils.getErrorCallback(), this),
        success: LABKEY.Utils.getCallbackWrapper(function(results){
            console.log(results);
            Ext4.create('Ext.panel.Panel', {
                border: false,
                style: 'padding-left: 5px;',
                defaults: {
                    border: false
                },
                items: [{
                    html : 'Results:<hr>',
                    style: 'bottom-left: 5px;'
                },{
                    html: results.results[LABKEY.ActionURL.getParameter('objectid')] ? results.results[LABKEY.ActionURL.getParameter('objectid')] : 'No results found',
                    style: 'padding-left: 5px;'
                }]
            }).render('results_'+webpart.wrapperDivId);
        }, this)

    });
});

</script>