<script type="text/javascript">

Ext4.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('objectid')){
        alert('Must Provide Key');
        return false;
    }

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        id: 'runDetails_'+webpart.wrapperDivId,
        html: 'Loading...',
        style: 'padding-bottom: 10px;'
    },{
        tag: 'div',
        id: 'resultDivs_'+webpart.wrapperDivId
    }];

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    LABKEY.Query.selectRows({
        schemaName: 'study',
        queryName: 'Clinpath Runs',
        filterArray: [LABKEY.Filter.create('objectid', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)],
        successCallback: onSuccess
    });

    function onSuccess(data){
        if(!data.rows.length){
            alert('Unable to find run');
            return;
        }

        var row = data.rows[0];

        var filterArray;
        if(row.taskid){
            filterArray = [LABKEY.Filter.create('taskId', row.taskid, LABKEY.Filter.Types.EQUAL), LABKEY.Filter.create('Id', row.Id, LABKEY.Filter.Types.EQUAL)];
        }
        else {
            filterArray = [LABKEY.Filter.create('date', row.date, LABKEY.Filter.Types.DATE_EQUAL), LABKEY.Filter.create('Id', row.Id, LABKEY.Filter.Types.EQUAL)];
        }

        LDK.Utils.getReadOnlyQWP({
            title: 'Run Details:',
            schemaName: 'study',
            queryName: 'Clinpath Runs',
            filterArray: filterArray
         }).render('runDetails_'+webpart.wrapperDivId);

        var resultDiv = Ext4.get('resultDivs_'+webpart.wrapperDivId);

        Ext4.each(['Bacteriology Results', 'Chemistry Results', 'Immunology Results', 'Hematology Results', 'Hematology Morphology', 'Parasitology Results', 'Urinalysis Results', 'Virology Results'], function(dataset){
            var target = resultDiv.createChild({tag: 'span', style: 'padding-bottom:10px;'});
            resultDiv.createChild({tag: 'p'});

            var viewName;
            if(['Chemistry Results', 'Immunology Results', 'Hematology Results'].indexOf(dataset)!=-1){
                viewName = 'Plus Ref Range';
            }

            LDK.Utils.getReadOnlyQWP({
                title: dataset+':',
                schemaName: 'study',
                queryName: dataset,
                viewName: viewName,
                filterArray: filterArray
             }).render(target.id);
        }, this);
    }
});

</script>