<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/transposeRows.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('lsid')){alert('Must Provide LSID'); return false;}

    var filterArray = [LABKEY.Filter.create('lsid', LABKEY.ActionURL.getParameter('lsid'), LABKEY.Filter.Types.EQUAL)];

    new EHR.ext.DetailsView({
        schemaName: LABKEY.ActionURL.getParameter('schemaName'),
        queryName: LABKEY.ActionURL.getParameter('queryName'),
        viewName: LABKEY.ActionURL.getParameter('viewName') || null,
        title: LABKEY.ActionURL.getParameter('viewName') || LABKEY.ActionURL.getParameter('queryName')+' Details:',
        renderTo: 'detailsView',
        filterArray: filterArray
    });
    
});


</script>
</head>

<body>

<div id="detailsView"></div>

</body>
</html>