<script type="text/javascript">

//LABKEY.Query.selectRows({
//    schemaName: 'study',
//    queryName: 'DataSets',
//    containerPath: 'WNPRC/EHR/',
//    successCallback: onSuccess
//});

var queries = ['Irregular Observations'];

function failureCallback(error){
    console.log('Dataset update error');
    console.log(error);
}

Ext.each(queries, function(query){
    LABKEY.Domain.get(
        successCallback,
        failureCallback,
        'study',
        query,
        'WNPRC/EHR'
    );

    function successCallback(domainDesign){
        console.log(domainDesign);

        var newField = {
            URL: null,
            conceptURI: null,
            conditionalFormats: [],
            container: "796d8472-88ca-102b-9494-493dbd27535f",
            defaultDisplayValue: "[none]",
            defaultValue: null,
            defaultValueType: null,
            description: null,
            dimension: false,
            fileType: false,
            format: null,
            hidden: false,
            importAliases: null,
            label: 'Task Id',
            lookupContainer: null,
            lookupDescription: "(none)",
            lookupQuery: null,
            lookupSchema: null,
            measure: false,
            mvEnabled: false,
            name: "taskid",
            ontologyURI: null,
            propertyId: 7808,
            propertyURI: "urn:ehr.labkey.org/#TaskId",
            propertyValidators: [],
            rangeURI: "http://www.w3.org/2001/XMLSchema#string",
            required: false,
            searchTerms: null,
            semanticType: null,
            setDimension: true,
            setMeasure: true,
            shownInDetailsView: false,
            shownInInsertView: false,
            shownInUpdateView: false
        };

        var found = false;
        Ext.each(domainDesign.fields, function(f, idx){
            if(f.container == "796d8472-88ca-102b-9494-493dbd27535f"){
                console.log(f.name)
            }
            if(f.name == 'taskid'){
                domainDesign.fields[idx] = {
                    container: "796d8472-88ca-102b-9494-493dbd27535f",
                    project: "796d8472-88ca-102b-9494-493dbd27535f",
                    propertyId: 7808,
                    propertyURI: "urn:ehr.labkey.org/#TaskId",
                    hidden: true,
                    shownInDetailsView: false,
                    shownInInsertView: false,
                    shownInUpdateView: false
//                    rangeURI: "http://www.w3.org/2001/XMLSchema#string"
//                    label: 'Task Id'
                };
                found = true;
            }
        }, this);

        console.log('Field Found? '+found);
        if(!found){
            domainDesign.fields.push(newField);
        }

        LABKEY.Domain.save(
           function(result){
               console.log('Dataset Updated: '+query);
           },
           failureCallback,
           domainDesign,
           'study',
           query,
           'WNPRC/EHR'
        );
    }
}, this);

</script>