<script type="text/javascript">
    LABKEY.requiresScript("/ehr/ehrDetailsPanel.js");
</script>
<script type="text/javascript">

Ext.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('lsid')){alert('Must Provide LSID'); return false;}

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        id: 'drugDetails_' + webpart.wrapperDivId
    },{
        tag: 'div',
        id: 'childTables_' + webpart.wrapperDivId
    }]

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    var filterArray = [LABKEY.Filter.create('lsid', LABKEY.ActionURL.getParameter('lsid'), LABKEY.Filter.Types.EQUAL)];

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Drug Administration',
        title: 'Drug Details:',
        renderTo: 'drugDetails_' + webpart.wrapperDivId,
        filterArray: filterArray
    });

    LABKEY.Query.selectRows({
        schemaName: 'study',
        queryName: 'Drug Administration',
        filterArray: filterArray,
        successCallback: onSuccess
    });

    function onSuccess(data){
        if(!data.rows.length){
            alert('Unable to find record');
            return;
        }

        var row = data.rows[0];

        new LABKEY.QueryWebPart({
            title: 'Clinical Remarks From '+(new Date(row.date).format('Y-m-d')),
            schemaName: 'study',
            queryName: 'Clinical Remarks',
            allowChooseQuery: false,
            allowChooseView: true,
            showInsertNewButton: false,
            showDeleteButton: false,
            showDetailsColumn: true,
            showUpdateColumn: false,
            showRecordSelectors: true,
            buttonBarPosition: 'top',
            timeout: 0,
            filterArray: [
                LABKEY.Filter.create('date', row.date, LABKEY.Filter.Types.DATE_EQUAL),
                LABKEY.Filter.create('id', row.Id, LABKEY.Filter.Types.EQUAL)
            ],
            sort: '-Date',
            scope: this,
            failure: EHR.Utils.onError
         }).render('childTables_' + webpart.wrapperDivId);
    }
});

</script>