<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/WNPRC_Main/navMenu.js");
LABKEY.requiresScript("/ehr/utilities.js");

Ext.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
    new EHR.UTILITIES.navMenu({
        target: 'adminLinks',
        sections: [
            {header: 'Admin',
                items: [
                    {name: 'Backup History', url: '<%=contextPath%>/project/WNPRC/EHR/Backups/begin.view?'},
                    {name: 'Development Notes', url: '<%=contextPath%>/project/WNPRC/EHR/Development Notes/begin.view?'},
                    {name: 'ETL Admin', url: '<%=contextPath%>/EHR/WNPRC/EHR/etlAdmin.view?'},
                    {name: 'ETL History', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=Sync History'},
                    {name: 'Manage EHR Study', url: '<%=contextPath%>/study/WNPRC/EHR/manageStudy.view?'},
                    {name: 'Reload Study', url: '<%=contextPath%>/pipeline/WNPRC/EHR/begin.view?'},
                    {name: 'View Logs', url: '<%=contextPath%>/project/WNPRC/EHR/Logs/begin.view?'}
                ]
            },
            {header: 'Logs',
                items: [
                    {name: 'Labkey.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Tomcat%20Logs/labkey.log?renderAs=DEFAULT'},
                    {name: 'ActiveMQ.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/ActiveMQ/activemq.log?renderAs=DEFAULT'},
                    {name: 'Monit.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Monit/monit.log?renderAs=DEFAULT'},
                    {name: 'Munin.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Munin/munin.log?renderAs=DEFAULT'}
                ]
            },
            {header: 'Monit',
                items: [
                    {name: 'Xnight', url: 'http://xnight.primate.wisc.edu:2812/'},
                    {name: 'Test-EHR', url: 'http://test-ehr.primate.wisc.edu:2812/'},
                    {name: 'Gems', url: 'http://gems.primate.wisc.edu:2812/'}
                ]
            },
            {header: 'Munin',
                items: [
                    {name: 'Xnight', url: 'https://xnight.primate.wisc.edu:4433/'},
                    {name: 'Test-EHR', url: 'http://test-ehr.primate.wisc.edu/munin/'},                                                
                    {name: 'Gems', url: 'http://gems.primate.wisc.edu/munin/'}
                ]
            },
            {header: 'Usage',
                items: [
                    {name: 'Site Logins', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsage'},
                        {name: 'Site Logins By Month', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsageByMonth'},
                        {name: 'Site Logins By Group', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsageByGroup'}
                ]
            },
            {header: 'Validation',
                items: [
                    {name: 'Validate Status', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Validation'}
                ]

            }
        ]
    })
    }

    new LABKEY.QueryWebPart({
        title: 'Maintenance History',
        //containerPath: '/WNPRC/EHR/Backups',
        schemaName: 'core',
        queryName: 'Maintenance History',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        buttonBarPosition: 'top',
        //maxRows: 2,
        scope: this,
        errorCallback: EHR.UTILITIES.onError
     }).render('backupDate');


    
});


</script>
</head>

<body align="center">

<div id="adminLinks"></div>
<p/>
<div id="backupDate"></div>
<p/>
<div id="syncDate"></div>



</body>
</html>