<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/navMenu.js");
//LABKEY.requiresScript("/ehr/utilities.js");

Ext.onReady(function (){

    if (LABKEY.Security.currentUser.isAdmin){
    new EHR.UTILITIES.navMenu({
        renderTo: 'adminLinks',
        width: 350,
        sections: [
            {header: 'Admin',
                items: [
                    {name: 'Backup History', url: '<%=contextPath%>/project/WNPRC/EHR/Backups/begin.view?'},
                    {name: 'Development Notes', url: '<%=contextPath%>/project/WNPRC/EHR/Development Notes/begin.view?'},
                    {name: 'ETL Admin', url: '<%=contextPath%>/EHR/WNPRC/EHR/etlAdmin.view?'},
                    {name: 'ETL Duration', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=Sync Duration'},
                    {name: 'ETL History', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=Sync History'},
                    {name: 'Manage EHR Study', url: '<%=contextPath%>/study/WNPRC/EHR/manageStudy.view?'},
                    {name: 'Populate Initial Data', url: '<%=contextPath%>/EHR/WNPRC/EHR/_initEHR.view?'},
                    {name: 'Reload Study', url: '<%=contextPath%>/pipeline/WNPRC/EHR/begin.view?'},
                    {name: 'Generate Schema XML', url: '<%=contextPath%>/admin/getSchemaXmlDoc.view?full=true&dbSchema=core'},
                    {name: 'View Logs', url: '<%=contextPath%>/project/WNPRC/EHR/Logs/begin.view?'}
                ]
            },
            {header: 'Logs',
                items: [
                    {name: 'Labkey.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Tomcat%20Logs/labkey.log'},
                    {name: 'ETL Log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Tomcat%20Logs/ehr-etl.log'},
                    {name: 'ETL Errors Log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Tomcat%20Logs/ehr-etl-errors.log'},
                    {name: 'ActiveMQ.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/ActiveMQ/activemq.log'},
                    {name: 'Monit.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Monit/monit.log'},
                    {name: 'Munin.log', url: '<%=contextPath%>/files/WNPRC/EHR/Logs/%40filesets/Munin/munin.log'}
                ]
            },
            {header: 'Monit',
                items: [
                    {name: 'Xnight', url: 'http://xnight.primate.wisc.edu:2812/'},
                    {name: 'Test-EHR', url: 'http://test-ehr.primate.wisc.edu:2812/'},
                    {name: 'Gems', url: 'http://gems.primate.wisc.edu:2812/'}
                ]
            },
            {header: 'Munin',
                items: [
                    {name: 'Xnight', url: 'https://xnight.primate.wisc.edu:4433/'},
                    {name: 'Test-EHR', url: 'http://test-ehr.primate.wisc.edu/munin/'},                                                
                    {name: 'Gems', url: 'http://gems.primate.wisc.edu/munin/'}
                ]
            },
            {header: 'Usage',
                items: [
                    {name: 'Site Logins', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsage'},
                        {name: 'Site Logins By Month', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsageByMonth'},
                        {name: 'Site Logins By Group', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=core&query.queryName=SiteUsageByGroup'}
                ]
            },
            {header: 'Validation',
                items: [
                    {name: 'Validate Status Field Calculation', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Validation'},
                    {name: 'Review Required', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=studyData&query.viewName=Review Required'},
                    {name: 'Rooms/Cages Missing From List', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=ehr&query.queryName=RoomUtilization&query.TotalCages~eq=0'},
                    {name: 'Postgres/mySQL Comparison', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=col_dump&query.queryName=mysql_check'},
                    {name: 'Postgres/mySQL Comparison - To Excel', url: '<%=contextPath%>/query/WNPRC/EHR/exportRowsExcel.view?schemaName=col_dump&query.queryName=mysql_check'}
                ]
            }
        ]
    })
    }

//    new LABKEY.QueryWebPart({
//        title: 'Maintenance History',
//        //containerPath: '/WNPRC/EHR/Backups',
//        schemaName: 'core',
//        queryName: 'Maintenance History',
//        allowChooseQuery: false,
//        allowChooseView: true,
//        showInsertNewButton: false,
//        showDeleteButton: false,
//        showDetailsColumn: true,
//        showUpdateColumn: false,
//        buttonBarPosition: 'top',
//        //maxRows: 2,
//        scope: this,
//        errorCallback: EHR.UTILITIES.onError
//     }).render('backupDate');


    
});


</script>
</head>

<body>

<div id="adminLinks"></div>
<!--<p/>-->
<!--<div id="backupDate"></div>-->
<!--<p/>-->
<!--<div id="syncDate"></div>-->



</body>
</html>