<html>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/navMenu.js");


Ext.onReady(createNavMenu);

function createNavMenu()
{
    if (!window.EHR || !window.EHR.utils || !window.EHR.utils.navMenu)
    {
        createNavMenu.defer(10);
        return;
    }


    var menuCfg = {
        renderTo: 'ehrMenu',
        sections: [
            {header: 'By Animal',
            items: [
                {name: 'Animal History', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view?'},
                {name: 'Animal Search', url: '<%=contextPath%>/ehr/WNPRC/EHR/animalSearch.view?'}
                ]},
            {header: 'By Dataset',
            items: [
                {name: 'Browse All Datasets', url: '<%=contextPath%>/study/WNPRC/EHR/datasets.view?'},
                {name: 'Housing Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/housingQueries.view?'},
                {name: 'Protocol and Project Queries', url: '<%=contextPath%>/ehr/WNPRC/EHR/projectQueries.view?'}
            ]},
            {header: 'Entire Colony',
            items: [
                {name: 'Animal Utilization', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=colonyAssignmentSummary'},
                //{name: 'Clinical Summary', url: '<%=contextPath%>/ehr/WNPRC/EHR/clinicalOverview.view?'},
                {name: 'MHC Genotype Summary', url: '<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=assay&query.queryName=AlleleFrequencies'},
                {name: 'Population Summary', url: '<%=contextPath%>/ehr/WNPRC/EHR/populationOverview.view?'}
            ]},
            {header: 'Misc',
            items: [
                {name: 'About the EHR Project', url: '<%=contextPath%>/project/WNPRC/EHR/About The EHR/begin.view?'},                    
                {name: 'Utilities', url: '<%=contextPath%>/ehr/WNPRC/EHR/utilities.view?'}
            ]}
        ]
    };

    if (LABKEY.Security.currentUser.isAdmin){
        menuCfg.sections.push({
            header: 'Admin',
            items: [
                {name: 'Manage EHR Study', url: '<%=contextPath%>/study/WNPRC/EHR/manageStudy.view?'},
                {name: 'Reload Study', url: '<%=contextPath%>/pipeline/WNPRC/EHR/begin.view?'},
                {name: 'Time of Last Import', url: '<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=pipeline&query.queryName=lastStudyUpload'}
            ]
        })

    }

    new EHR.utils.navMenu(menuCfg);

}

</script>
<body>

<div id="ehrMenu"></div>

</body>
</html>