<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/transposeRows.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('objectid')){alert('Must Provide LSID'); return false;}

    var filterArray = [LABKEY.Filter.create('objectid', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)];

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'encounters',
        title: 'Encounter Details:',
        renderTo: 'encounterDetails',
        filterArray: filterArray
    });


    new LABKEY.QueryWebPart({
        title: 'Records',
        schemaName: 'study',
        queryName: 'StudyData',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        timeout: 0,
        filterArray: [LABKEY.Filter.create('parentId', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)],
        sort: '-Date',
        scope: this,
        errorCallback: EHR.utils.onError
     }).render('childTables');

});

</script>
</head>
<body>
    <p/>

	<div id='encounterDetails'></div>

    <p/>

    <div id='childTables'></div>
</body>
</html>