<script type="text/javascript">

Ext4.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('objectid')){
        alert('Must Provide LSID');
        return false;
    }

    if (LABKEY.ActionURL.getParameter('formtype')){
        window.location = LABKEY.ActionURL.buildURL('ehr', 'taskDetails', null, {
            formtype: LABKEY.ActionURL.getParameter('formtype'),
            taskid: LABKEY.ActionURL.getParameter('taskid')
        });
    }

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'encounterDetails_' + webpart.wrapperDivId
    },{
        tag: 'div',
        id: 'childTables_' + webpart.wrapperDivId
    }]

    var el = Ext4.get(webpart.wrapperDivId);
    Ext4.DomHelper.append(el, domSpec);

    Ext4.create('LDK.panel.DetailsPanel', {
        store: {
            schemaName: 'study',
            queryName: 'encounters',
            filterArray: [LABKEY.Filter.create('objectid', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)]
        },
        title: 'Encounter Details',
        showBackBtn: false,
        renderTo: 'encounterDetails_' + webpart.wrapperDivId
    });

    LDK.Utils.getReadOnlyQWP({
        title: 'Records',
        schemaName: 'study',
        queryName: 'StudyData',
        filterArray: [LABKEY.Filter.create('parentid', LABKEY.ActionURL.getParameter('objectid'), LABKEY.Filter.Types.EQUAL)],
        sort: '-Date'
    }).render('childTables_' + webpart.wrapperDivId);
});

</script>