<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/utils.js");

Ext.onReady(function (){
    var query = LABKEY.ActionURL.getParameter('query.queryName') || LABKEY.ActionURL.getParameter('queryName');
    var schema = LABKEY.ActionURL.getParameter('schemaName');

    LABKEY.NavTrail.setTrail(EHR.utils.toTitleCase(query));

    var config = {
        title: query,
        schemaName: schema,
        queryName: query,
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        frame: 'none',
        dataRegionName: 'query',
        scope: this,
        timeout: 0,
        errorCallback: EHR.utils.onError
    };

    if(schema=='study'){
        LABKEY.Query.executeSql({
            scope: this,
            schemaName: 'study',
            sql: "SELECT * FROM study.datasets WHERE label='"+query+"' OR name='"+query+"'",
            error: EHR.utils.onError,
            success: function(data){
                if(data.rows && data.rows.length)
                    config.filters = [LABKEY.Filter.create('QCState/PublicData', true, LABKEY.Filter.Types.EQUAL)];

                new LABKEY.QueryWebPart(config).render('qwpDiv');
            }
        });

    }
    else {
        new LABKEY.QueryWebPart(config).render('qwpDiv');
    }


});


</script>
</head>

<body>

<div id="qwpDiv"></div>

</body>
</html>