<html>
<head>
<script type="text/javascript">

Ext.onReady(function (){
    var query = LABKEY.postParameters['query.queryName'];
    var schema = LABKEY.postParameters['schemaName'];

    LABKEY.NavTrail.setTrail(query);

    var config = {
        title: query,
        schemaName: schema,
        queryName: query,
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        frame: 'none',
        dataRegionName: 'query',
        scope: this,
        timeout: 0,
        errorCallback: EHR.utils.onError
    };

    if(schema=='study'){
        config.filters = [LABKEY.Filter.create('QCState/PublicData', true, LABKEY.Filter.Types.EQUAL)]
    }

    new LABKEY.QueryWebPart(config).render('qwpDiv');
});


</script>
</head>

<body>

<div id="qwpDiv"></div>

</body>
</html>