<div class="ehr-tool-icon-wrapper-lg">
    <div class="ehr-tool-icon-lg tool-icon">
        <a href="<%=contextPath%>/ehr/<%=containerPath%>/animalHistory.view"><img src="<%=contextPath%>/ehr/icons/icon_browse_lg.png">Browse Data</a>
    </div>
</div>

<div class="ehr-tool-icon-wrapper-lg">
    <div class="ehr-tool-icon-lg tool-icon">
        <a href="<%=contextPath%>/ehr/<%=containerPath%>/dataEntry.view"><img src="<%=contextPath%>/ehr/icons/icon_data_lg.png">Enter Data</a>
    </div>
</div>

<div class="ehr-tool-icon-wrapper-lg">
    <div class="ehr-tool-icon-lg tool-icon">
        <a href="<%=contextPath%>/ehr/<%=containerPath%>/animalHistory.view"><img src="<%=contextPath%>/ehr/icons/icon_center_lg.png">The Center Today</a>
    </div>
</div>
