<script type="text/javascript">
    LABKEY.requiresScript("/ehr/SearchPanel.js");
</script>
<script type="text/javascript">

Ext.onReady(function(){

    var ctx = EHR.Utils.getEHRContext();
    if(!ctx)
        return;

    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        html: 'This page contains a series of queries to search animal housing data.  If there are additional one-button reports you would like added to the top section, please submit a request using the \'user feedback\' item on the menu bar above.'
    },{
        tag: 'h3',
        html: 'Commonly Used Queries:'
    },{
        tag: 'ul',
        children: [{
            tag: 'li',
            html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Single%20Housed">List Single-housed Animals</a>'
        },{
            tag: 'li',
            html: '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/animalHistory.view#_inputType:renderSingleSubject&activeReport:roommateHistory">View Roommate History for Animals</a>'
        },{
            tag: 'li',
            html: '<a href="<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=HousingOverlapsByRoom">Find Animals Housed In A Given Room/Cage At A Specific Time</a>'
        }]
    },{
        tag: 'h3',
        html: 'Search Active Housing Records:'
    },{
        html: 'NOTE: By default the search only includes active housing records.  To search all records, including historic ones, pick \'default\' from the \'View\' drop-down menu at the bottom of the search panel.',
        style: 'padding-bottom: 10px;'
    },{
        tag: 'div',
        id: 'housingPanel_' + webpart.wrapperDivId
    }]

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);


    new EHR.ext.SearchPanel({
        schemaName: 'study'
        ,queryName: 'Housing'
        ,title: 'Search Housing'
        ,defaultView: 'Current Housing'
        ,viewName: 'Search Panel'
        ,metadata: {
            isTemp: {hidden: true}
            ,Id: {lookups: false}
            ,room: {lookups: false}
            ,project: {lookups: false}
            ,Created: {hidden: true}
            ,CreatedBy: {hidden: true}
            ,Modified: {hidden: true}
            ,ModifiedBy: {hidden: true}
            ,objectid: {hidden: true}
            ,ts: {hidden: true}
            ,Dataset: {hidden: true}
            ,AgeAtTime: {hidden: true}
            ,QCState: {hidden: true}
            ,created: {hidden: true}
            ,modified: {hidden: true}
            ,SequenceNum: {hidden: true}
            ,AnimalVisit: {hidden: true}
            ,EntityId: {hidden: true}
            ,Notes: {hidden: true}
        }
    }).render('housingPanel_' + webpart.wrapperDivId);


});

</script>