<!--Created the html code on the onprc side by Kollil 7/23/2025 - Changing the query to add Area field as per the tkt request - 12894-->

<script type="text/javascript" nonce="<%=scriptNonce%>">

    Ext4.onReady(function(){
        const webpart = <%=webpartContext%>;

        const qwpDiv = Ext4.DomHelper.insertAfter(webpart.wrapperDivId, {
            tag: 'div',
            id: 'qwp_' + Ext4.id()
        });

        Ext4.QuickTips.init();
        Ext4.create('Ext.form.Panel', {
            border: false,
            width: 550,
            qwpDiv: qwpDiv,
            style: 'margin-bottom: 20px;',
            defaults: {
                border: false,
                labelWidth: 180,
                width: 550
            },
            items: [{
                html: 'This page allows you to find housing records that overlap, based on the criteria below.  For more detail, hover the mouse over the question mark next to the field label.',
                style: 'padding-bottom: 10px'
            },{
                xtype: 'radiogroup',
                itemId: 'searchType',
                fieldLabel: 'Search Type',
                helpPopup: 'If you select \'date and time\', then records will count as overlaps only if their date and time overlap.  If you pick \'date only\', then records will be count as overlaps if the animal was present on that day, not including time of day.  In the latter case, the animals might not technically have resided in the same cage at the time moment in time.',
                columns: 1,
                items: [{
                    boxLabel: 'Consider Date And Time',
                    checked: true,
                    name: 'searchType',
                    inputValue: 'dateTime'
                },{
                    boxLabel: 'Consider Date Only',
                    name: 'searchType',
                    inputValue: 'date'
                }],
                listeners: {
                    change: function(btn){
                        var panel = btn.up('panel');
                        panel.onSearchTypeChange();
                    }
                }
            },{
                xtype: 'radiogroup',
                itemId: 'groupingType',
                fieldLabel: 'Grouping',
                helpPopup: 'If you select \'individual records\', then the result will include one row per housing record, which could include multiple records per animal.  If you select \'grouped by Id\', then the result will include one row per animal Id, where each row could represent many different housing records.',
                columns: 1,
                items: [{
                    boxLabel: 'Show Individual Housing Records',
                    checked: !LABKEY.ActionURL.getParameter('groupById') ? true : false,
                    name: 'groupingType',
                    inputValue: 'individual'
                },{
                    boxLabel: 'Group Records By Id',
                    checked: LABKEY.ActionURL.getParameter('groupById') ? true : false,
                    name: 'groupingType',
                    inputValue: 'grouped'
                }],
                listeners: {
                    change: function(btn){
                        var panel = btn.up('panel');
                        panel.onGroupingChange();
                    }
                }
            },{
                xtype: 'xdatetime',
                helpPopup: 'This will be used at the start of the interval.  It can be left blank to include all records.',
                fieldLabel: 'Start',
                itemId: 'startField'
            },{
                xtype: 'xdatetime',
                helpPopup: 'This will be used at the end of the interval.  It can be left blank the current time will be used.',
                fieldLabel: 'End',
                itemId: 'endField'
            },{
                xtype: 'ehr-areafield',
                itemId: 'areaField',
                addAllSelector: true,
                editable: true,
                helpPopup: "Selects rooms in the room field that are located in the selected area(s). Not specifically added to query.",
                fieldLabel: 'Select Rooms by Area(s)',
                pairedWithRoomField: true,
                getRoomField: function(){
                    return this.up('panel').down('#roomField');
                }
            },{
                xtype: 'ehr-roomfield',
                itemId: 'roomField',
                helpPopup: 'If included, only records from this room will be used.  It can be left blank.',
                fieldLabel: 'Room(s)',
                multiSelect: true,
                listeners: {
                    change: function(field){
                        var areaField = field.up('panel').down('#areaField');
                        areaField.reset();
                    }
                }
            },{
                xtype: 'textfield',
                helpPopup: 'If included, only records from this cage will be used.  It can be left blank.',
                fieldLabel: 'Cage',
                itemId: 'cageField'
            }],
            dockedItems: {
                xtype: 'toolbar',
                dock: 'bottom',
                ui: 'footer',
                items: [{
                    xtype: 'tbfill'
                },{
                    xtype: 'button',
                    text: 'Submit',
                    handler: function(btn){
                        btn.up('panel').onSubmit();
                    }
                }]
            },
            onGroupingChange: function(){
                const type = this.down('#groupingType').getValue().groupingType;
                const room = this.down('#roomField');
                const cage = this.down('#cageField');
                const area = this.down('#areaField');

                if (type === 'grouped'){
                    area.setDisabled(true);
                    area.setValue(null);
                    room.setDisabled(true);
                    room.setValue(null);
                    cage.setDisabled(true);
                    cage.setValue(null);
                }
                else {
                    area.setDisabled(false);
                    room.setDisabled(false);
                    cage.setDisabled(false);
                }

            },
            onSearchTypeChange: function(){
                const type = this.down('#searchType').getValue().searchType;
                const start = this.down('#startField');
                const end = this.down('#endField');

                let xtype = 'datefield';
                if(type === 'date'){
                    if (start.xtype === 'datefield')
                        return;

                    xtype = 'datefield';
                }
                else {
                    if (start.xtype === 'xdatetime')
                        return;

                    xtype = 'xdatetime'
                }

                this.remove(start);
                this.remove(end);

                this.insert(3, {
                    xtype: xtype,
                    helpPopup: 'This will be used at the start of the interval.  It can be left blank to include all records.',
                    fieldLabel: 'Start',
                    itemId: 'startField'
                });

                this.insert(4, {
                    xtype: xtype,
                    helpPopup: 'This will be used at the end of the interval.  It can be left blank the current time will be used.',
                    fieldLabel: 'End',
                    itemId: 'endField'
                });

                this.doLayout();
            },
            onSubmit: function(){
                const type = this.down('#searchType').getValue().searchType;
                const grouping = this.down('#groupingType').getValue().groupingType;
                const groupById = (grouping === 'grouped');
                const start = this.down('#startField').getValue();
                const end = this.down('#endField').getValue();
                const rooms = this.down('#roomField').getValue();
                const cage = this.down('#cageField').getValue();

                let title = 'Overlapping Housing Records';
                let queryName = 'HousingOverlapsReport';
                if (groupById){
                    queryName += 'ById';
                    title = 'Overlapping Ids';
                }

                if (type === 'date')
                    queryName += 'DateOnly';

                const config = {
                    frame: 'portal',
                    renderTo: this.qwpDiv.id,
                    schemaName: 'study',
                    queryName: queryName,
                    title: title
                };

                const params = {
                    StartDate: start,
                    EndDate: end
                };

                const filterArray = [];

                if (rooms && !groupById)
                    filterArray.push(LABKEY.Filter.create('room', rooms.join(';'), LABKEY.Filter.Types.EQUALS_ONE_OF));

                if (cage && !groupById)
                    filterArray.push(LABKEY.Filter.create('cage', cage));

                if (!LABKEY.Utils.isEmptyObj(params))
                    config.parameters = params;

                if (filterArray.length)
                    config.filterArray = filterArray;

                LDK.Utils.getReadOnlyQWP(config);
            }

        }).render(webpart.wrapperDivId);
    });
</script>