<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/SearchPanel.js");

Ext.onReady(function(){

    new EHR.ext.SearchPanel({
        schemaName: 'study'
        ,queryName: 'Housing'
        ,title: 'Search Housing'
        ,defaultView: 'Current Housing'
        ,viewName: 'Search Panel'
        ,metadata: {
            isTemp: {hidden: true}
            ,Id: {lookups: false}
            ,room: {lookups: false}
            ,project: {lookups: false}
            ,Created: {hidden: true}
            ,CreatedBy: {hidden: true}
            ,Modified: {hidden: true}
            ,ModifiedBy: {hidden: true}
            ,objectid: {hidden: true}
            ,ts: {hidden: true}
            ,Dataset: {hidden: true}
            ,AgeAtTime: {hidden: true}
            ,QCState: {hidden: true}
            ,created: {hidden: true}
            ,modified: {hidden: true}
            ,SequenceNum: {hidden: true}
            ,AnimalVisit: {hidden: true}
            ,EntityId: {hidden: true}
            ,Notes: {hidden: true}
        }
    }).render('housingPanel');


});

</script>
</head>

<body>

This page contains a series of queries to search animal housing data.  If there are additional one-button reports you would like added to the top section, please submit a request using the 'user feedback' item on the menu bar above.


<p/>

<h3>Commonly Used Queries:</h3>
<ul>
    <li>
        <b>For 'Inroom' just type the room name into the search box below and hit submit.</b>
    </li>
<br>
    <li>
        <a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=Demographics&query.viewName=Single%20Housed">List Single-housed Animals</a>
    </li>
    <li>
        <a href="<%=contextPath%>/ehr/WNPRC/EHR/animalHistory.view#_inputType:renderSingleSubject&activeReport:roommateHistory">View Roommate History for Animals</a>
    </li>
    <li>
        <a href="<%=contextPath%>/query/WNPRC/EHR/executeQuery.view?schemaName=study&query.queryName=HousingOverlapsByRoom">Find Animals Housed In A Given Room/Cage At A Specific Time</a>
    </li>

</ul>

<br>
<p/>
<h3>Search All Housing Records:</h3>

<p/>

<div id='housingPanel'></div>
<p/>

</body>
</html>