<html>
<script type="text/javascript">

Ext.onReady(lastSync);

function lastSync()
{
    LABKEY.Query.selectRows({
        schemaName: 'core',
        queryName: 'Last Sync',
        containerPath: 'WNPRC/EHR/',
        successCallback: onSuccess
    });

    function onSuccess(data){
        if (!data.rows.length){
            document.getElementById('lastSync').innerHTML = 'Sync Not Performed';
            return;
        }
//        console.log(data);
        document.getElementById('lastSync').innerHTML =
            '<b>Time of Last EHR Sync:</b><br>'+
            data.rows[0].LastSync+'<p>'+
            '<b>Time Elapsed:</b><br>'+
            'Days: '+data.rows[0].Days+'<br>'+
            'Hours: '+data.rows[0].Hours+'<br>'+
            'Minutes: '+data.rows[0].Minutes;
    }
}

</script>
<body>
<div style="width:300">
The data in LabKey is automatically synced from the current colony records system.  Below is the time of the last sync operation.  Data in LabKey will not reflect changes that have occurred since this time.
<p/>
<span id="lastSync" />
</div>

</body>
</html>