<script type="text/javascript">
    LABKEY.requiresScript("/ehr/utils.js");
    LABKEY.requiresScript("/ehr/navMenu.js");
</script>
<script type="text/javascript">

Ext.onReady(function(){

    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
        return;

    var webpart = <%=webpartContext%>;
    new EHR.ext.NavMenu({
        renderTo: webpart.wrapperDivId,
        sections: [
            {header: 'Reports',
            items: [
                {name: 'Blood Needlesticks', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=bloodNeedlesticks'},
                {name: 'Housing By Room and Cage', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=housingByRoomCage'},
                {name: 'Find Housings Records For A Location At a Specific Time', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=HousingOverlaps'},
                {name: 'Find Animals Housed in a Location At a Specific Time', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=HousingOverlapsById'},
                {name: 'Per Diems (in testing)', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=PerDiems'},
                {name: 'Per Diems Raw Data (in testing)', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=PerDiemsByDay'},
                {name: 'Restraints Used', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=restraintUsed'}

            ]
        },{
            header: 'Validation',
            items: [
                {name: 'Duplicate Assignments', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=duplicateAssignments'},
                {name: 'Find Dead Animals Without A Weight in the Preceeding 7 Days', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=validateFinalWeights&query.sort=-death'},
                {name: 'Non-contiguous Housing Assignments', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=housingCheck'},
                {name: 'Validate Demographics Status Field', url: '<%=contextPath%>/query' + ctx['EHRStudyContainer'] + '/executeQuery.view?schemaName=study&query.queryName=Validate_status'}
            ]}
        ]
    });
});

</script>