<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/ehrDetailsPanel.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Necropsy Number'); return false;}

    var key = LABKEY.ActionURL.getParameter('key');

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Necropsies',
        viewName: 'Summary',
        title: 'Necropsy Details:',
        renderTo: 'necropsyDetails',
        filterArray: [LABKEY.Filter.create('objectId', key, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Morphologic Diagnoses',
        schemaName: 'study',
        queryName: 'Morphologic Diagnosis',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('necropsyDiagnosis');


    new LABKEY.QueryWebPart({
        title: 'Histology',
        schemaName: 'study',
        queryName: 'histology',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('necropsyHistology');

//    new LABKEY.QueryWebPart({
//        title: 'Tissues',
//        schemaName: 'study',
//        queryName: 'tissue_samples',
//        allowChooseQuery: false,
//        allowChooseView: true,
//        showInsertNewButton: false,
//        showDeleteButton: false,
//        showDetailsColumn: true,
//        showUpdateColumn: false,
//        buttonBarPosition: 'top',
//        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
//        sort: '-Date',
//        scope: this,
//        failure: EHR.Utils.onError
//     }).render('necropsyTissues');

//    new LABKEY.QueryWebPart({
//        title: 'Necropsy Images',
//        containerPath: '/WNPRC/WNPRC_Units/Animal_Services/Pathology_Services/Images/Necropsy',
//        schemaName: 'study',
//        queryName: 'Datas',
//        allowChooseQuery: false,
//        allowChooseView: true,
//        showInsertNewButton: false,
//        showDeleteButton: false,
//        showDetailsColumn: true,
//        showUpdateColumn: false,
//        showRecordSelectors: true,
//        buttonBarPosition: 'top',
//        filters: [LABKEY.Filter.create('caseno/objectid', key, LABKEY.Filter.Types.EQUAL)],
//        //sort: '-Date',
//        scope: this,
//        failure: EHR.Utils.onError
//     }).render('necropsyImages');
});

</script>
</head>
<body>
    <p/>

	<div id='necropsyDetails'></div>

    <p/>

    <div id='necropsyReport'></div>

    <p/>

    <div id='necropsyDiagnosis'></div>

    <p/>

    <div id='necropsyImages'></div>

    <p/>

    <div id='necropsyHistology'></div>

    <p/>

    <div id='necropsyTissues'></div>
</body>
</html>