<script type="text/javascript">
    LABKEY.requiresScript("/ehr/ehrDetailsPanel.js");
</script>
<script type="text/javascript">

Ext.onReady(function (){
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Necropsy Number'); return false;}

    var key = LABKEY.ActionURL.getParameter('key');
    var webpart = <%=webpartContext%>;
    var domSpec = [{
        tag: 'div',
        id: 'necropsyDetails_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'necropsyReport_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'necropsyDiagnosis_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'necropsyImages_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'necropsyHistology_' + webpart.wrapperDivId
    },{
        tag: 'div',
        style: 'padding-bottom: 10px;',
        id: 'necropsyTissues_' + webpart.wrapperDivId
    }]

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Necropsies',
        viewName: 'Summary',
        title: 'Necropsy Details:',
        renderTo: 'necropsyDetails_' + webpart.wrapperDivId,
        filterArray: [LABKEY.Filter.create('objectId', key, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Morphologic Diagnoses',
        schemaName: 'study',
        queryName: 'Morphologic Diagnosis',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('necropsyDiagnosis_' + webpart.wrapperDivId);

    new LABKEY.QueryWebPart({
        title: 'Histology',
        schemaName: 'study',
        queryName: 'histology',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
        sort: '-Date',
        scope: this,
        failure: EHR.Utils.onError
     }).render('necropsyHistology_' + webpart.wrapperDivId);

//    new LABKEY.QueryWebPart({
//        title: 'Tissues',
//        schemaName: 'study',
//        queryName: 'tissue_samples',
//        allowChooseQuery: false,
//        allowChooseView: true,
//        showInsertNewButton: false,
//        showDeleteButton: false,
//        showDetailsColumn: true,
//        showUpdateColumn: false,
//        buttonBarPosition: 'top',
//        filters: [LABKEY.Filter.create('parentId', key, LABKEY.Filter.Types.EQUAL)],
//        sort: '-Date',
//        scope: this,
//        failure: EHR.Utils.onError
//     }).render('necropsyTissues_' + webpart.wrapperDivId);

//    new LABKEY.QueryWebPart({
//        title: 'Necropsy Images',
//        schemaName: 'study',
//        queryName: 'Datas',
//        allowChooseQuery: false,
//        allowChooseView: true,
//        showInsertNewButton: false,
//        showDeleteButton: false,
//        showDetailsColumn: true,
//        showUpdateColumn: false,
//        showRecordSelectors: true,
//        buttonBarPosition: 'top',
//        filters: [LABKEY.Filter.create('caseno/objectid', key, LABKEY.Filter.Types.EQUAL)],
//        //sort: '-Date',
//        scope: this,
//        failure: EHR.Utils.onError
//     }).render('necropsyImages_' + webpart.wrapperDivId);
});

</script>