<script type="text/javascript">
    Ext4.onReady(function (){
        var webpart = <%=webpartContext%>;

        /* get the participant id from the request URL: this parameter is required. */
        var participantId = LABKEY.ActionURL.getParameter('participantId');

        if (!participantId){
            alert('Must Provide Id');
            return false;
        }

        Ext4.create('EHR.ext.ParticipantDetailsPanel', {
            participantId: participantId
        }).render(webpart.wrapperDivId);
    });
</script>