<script type="text/javascript">

LABKEY.requiresScript("/EHR/participantView.js");

//    new EHR.ext.customPanels.detailsView({
//        schemaName: 'study',
//        queryName: 'demographics',
//        title: 'Animal Details:',
//        renderTo: 'participantDetails',
//        filterArray: [LABKEY.Filter.create('Id', participantId, LABKEY.Filter.Types.EQUAL)]
//    });

</script>

<p/>

<div id='participantDetails'></div>

<p/>

<div id='participantView'></div>

<p/>

<div id='reportDiv'></div>