<script type="text/javascript">
    LABKEY.requiresScript("ehr/ehrAPI.js");
    Ext.Ajax.timeout = 120000; //in milliseconds
</script>
<script type="text/javascript">
    
Ext.onReady(function(){
    var webpart = <%=webpartContext%>;
    var domSpec = [{
        style: 'padding-bottom: 20px;',
        html: 'The purpose of this page is to provide an overview of the colony.  If you suggestions on reports or information that would be useful, please report them through the \'User Feedback\' menu above.'
    },{
        tag: 'div',
        html: '<span class="loading-indicator">Loading...</span>',
        id: 'colonyPopulationSummary_' + webpart.wrapperDivId
    },{
        tag: 'p'
    },{
        tag: 'table',
        cls: 'labkey-wp',
        children: [{
            tag: 'tbody',
            children: [{
                tag: 'tr',
                cls: 'labkey-wp-header',
                children: [{
                    tag: 'th',
                    cls: 'labkey-wp-title-left',
                    html: 'Population Changes:'
                },{
                    tag: 'th',
                    cls: 'labkey-wp-title-right',
                    html: '&nbsp;'
                }]
            },{
                tag: 'tr',
                children: [{
                    tag: 'td',
                    cls: 'labkey-wp-body',
                    children: [{
                        tag: 'div',
                        id: 'dateRange_' + webpart.wrapperDivId
                    },{
                        tag: 'div',
                        id: 'colonyPopulationChange_' + webpart.wrapperDivId
                    }]
                }]
            }]
        }]
    },{
       tag: 'p'
    },{
        tag: 'table',
        cls: 'labkey-wp',
        children: [{
            tag: 'tbody',
            children: [{
                tag: 'tr',
                cls: 'labkey-wp-header',
                children: [{
                    tag: 'th',
                    cls: 'labkey-wp-title-left',
                    html: 'Other Population Queries:'
                },{
                    tag: 'th',
                    cls: 'labkey-wp-title-right',
                    html: '&nbsp;'
                }]
            },{
                tag: 'tr',
                children: [{
                    tag: 'td',
                    cls: 'labkey-wp-body',
                    children: [{
                        tag: 'ul',
                        children: [{
                            tag: 'li',
                            html: '<a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=study&query.queryName=Colony Population By Age">Population By Age and Species</a>'
                        }]
                    }]
                }]
            }]
        }]
    }]

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    new LABKEY.QueryWebPart({
         title: 'Current Population Counts',
         schemaName: 'study',
         queryName: 'colonyPopulationSummary',
         allowChooseQuery: false,
         allowChooseView: false,
         showInsertNewButton: false,
         showDeleteButton: false,
         showDetailsColumn: false,
         showUpdateColumn: false,
         buttonBarPosition: 'top',
         failure: EHR.Utils.onError,
         //successCallback: this.endMsg,
         scope: this
     }).render('colonyPopulationSummary_' + webpart.wrapperDivId);

    var dateRange = Ext.extend(Ext.Panel, {
        initComponent: function(config){

            Ext.apply(this, {
                bodyBorder: false,
                border: false,
                defaults: {
                    border: false,
                    bodyBorder: false
                }
            });

            dateRange.superclass.initComponent.call(this);

            this.datePanel = this.add(new EHR.ext.DateRangePanel());

            this.add(new Ext.Button({
                    text: 'Display Report'
                    ,scope: this
                    ,handler: this.displayReport
                    ,type: 'submit'
                    ,style: 'padding-bottom: 10px;'
                })
            );
        },
        displayReport: function(a,b){
            if (!b){return false}

            var target = document.getElementById('colonyPopulationChange_' + webpart.wrapperDivId);
            target.innerHTML = '';
            var loading = document.createElement('span');
            loading.innerHTML = 'Loading...<p>';
            loading.setAttribute('class', "loading-indicator");
            target.appendChild(loading);
            
            var config = {
                partName: 'Report',
                renderTo: 'colonyPopulationChange_' + webpart.wrapperDivId,
                partConfig: {
                    title: 'Population Change',
                    schemaName: 'study',
                    showSection: 'barchart&tsvfile',
                    reportId : 'module:ehr/schemas/study/colonyPopulationChange/Bar Chart.r',
                    'query.queryName': 'colonyPopulationChange',
                    'query.Id/dataset/demographics/species~neq': 'Unknown'
                },
                failure: EHR.Utils.onError
            };

            config.partConfig['query.param.StartDate'] = this.datePanel.startDateField.getValue();
            config.partConfig['query.param.EndDate'] = this.datePanel.endDateField.getValue();

            new LABKEY.WebPart(config).render();
        }
    });

    new dateRange().render('dateRange_' + webpart.wrapperDivId);
});

</script>