<div class="col-lg-3">
    <div class="lead">
        <div><a id="dropIndicesLink" class="labkey-text-link" href="#">Drop Indices</a></div>
        <div><a id="addIndicesLink" class="labkey-text-link" href="#">Add Indices</a></div>
    </div>
</div>
<script type="text/javascript" nonce="<%=scriptNonce%>">
    function indexAction(actionName) {
        LABKEY.Ajax.request({
            url: LABKEY.ActionURL.buildURL('ehr', actionName),
            method: 'POST',
            success: function(response) {
                var json = JSON.parse(response.responseText);
                if (json.success) {
                    alert('Success!');
                } else {
                    alert('Failure: ' + (json.message || 'Unknown error'));
                }
            },
            failure: function(response) {
                var message = 'Request failed';
                try {
                    var json = JSON.parse(response.responseText);
                    if (json.exception) {
                        message = json.exception;
                    }
                } catch (e) {
                    // ignore parse error
                }
                alert('Failure: ' + message);
            }
        });
    }

    LABKEY.Utils.attachEventHandler('dropIndicesLink', 'click', function(e) {
        e.preventDefault();
        indexAction('dropEHRIndices');
    }, 1);

    LABKEY.Utils.attachEventHandler('addIndicesLink', 'click', function(e) {
        e.preventDefault();
        indexAction('addEHRIndices');
    }, 1);
</script>
