<STYLE TYPE='text/css'>
P.pagebreakhere {
    page-break-before: always;
}

@page {size: landscape margin: 10%;}

</STYLE>
<style type="text/css" media="print">

@page {size: landscape;}

</style>

<script type="text/javascript">

//LABKEY.requiresScript("/ehr/utils.js");

Ext.onReady(function(){

    new Ext.Panel({
        border: false,
        defaults: {
            border: false
        },
        items: [{
            border: false,
            defaults: {
                border: false
            },

            width: 200,
            items: [{
                tag: 'div', html: 'Area:'
                },{
                    ref: '../areaField',
                    xtype: 'combo'
                    ,emptyText:''
                    ,fieldLabel: 'Area'
                    ,displayField:'area'
                    ,valueField: 'area'
                    ,typeAhead: true
                    ,mode: 'local'
                    ,editable: true
                    ,triggerAction: 'all'
                    ,store: new LABKEY.ext.Store({
                        containerPath: 'WNPRC/EHR/',
                        schemaName: 'ehr_lookups',
                        queryName: 'areas',
                        sort: 'area',
                        autoLoad: true
                    }),
                    width: 165
                },{
                    tag: 'div', html: 'Room:'
                },{
                    name: 'roomField',
                    xtype: 'textfield',
                    ref: '../roomField',
                    width: 165,
                    fieldLabel: 'Room',
                    listeners: {
                        render: function(field){
                            field.el.set({autocomplete: 'off'});
                        }
                    }
                },{
                    tag: 'div', html: 'Time of Day:'
                },{
                    emptyText:''
                    //,fieldLabel: 'Time of Day'
                    ,ref: '../timeField'
                    ,xtype: 'combo'
                    ,displayField:'time'
                    ,valueField: 'time'
                    ,typeAhead: true
                    ,mode: 'local'
                    ,triggerAction: 'all'
                    ,editable: true
                    ,store: new Ext.data.ArrayStore({
                        fields: [
                            'time'
                        ],
                        idIndex: 0,
                        data: [
                            ['AM'],
                            ['PM'],
                            ['Night']
                        ]
                    })
                }],
                buttons: [{
            text: 'Submit',
            handler: function(o){
                Ext.History.add('print');
                //o.ownerCt.ownerCt.hide();

                var area = o.ownerCt.ownerCt.ownerCt.areaField.getValue();
                var room = o.ownerCt.ownerCt.ownerCt.roomField.getValue();
                if(room){
                    room = room.replace(/[\s,;]+/g, ';');
                    room = room.replace(/(^;|;$)/g, '');
                    room = room.toLowerCase();
                    o.ownerCt.ownerCt.ownerCt.roomField.setValue(room);
                }

                var timeOfDay = o.ownerCt.ownerCt.ownerCt.timeField.getValue();

                if(!area && !room){
                    alert('Must enter either area or room');
                    return;
                }

                var filterArray = [];
                if(room)
                    filterArray.push(LABKEY.Filter.create('room', room, LABKEY.Filter.Types.EQUALS_ONE_OF));

                if(area)
                    filterArray.push(LABKEY.Filter.create('area', area, LABKEY.Filter.Types.EQUAL));

                LABKEY.Query.selectRows({
                    schemaName: 'ehr_lookups',
                    queryName: 'rooms',
                    filterArray: filterArray,
                    scope: this,
                    success: function(data){
                        if(!data.rows.length){
                            alert('No Rooms Found');
                            return;
                        }

                        var rooms = [];
                        Ext.each(data.rows, function(row){
                            rooms.push(row.room);
                        }, this);
                        o.ownerCt.ownerCt.ownerCt.renderRooms(rooms);
                    }
                });
            }
        }]
            }],

        renderRooms: function(rooms){
            var url;
            var div;

            Ext.each(rooms, function(room){
                url = LABKEY.ActionURL.buildURL('query', 'printRows.view', null, {
                    schemaName: 'study',
                    'query.queryName': 'treatmentSchedule',
                    'query.viewName': 'AM Treatments',
                    'query.date~dateeq': new Date().format('Y-m-d'),
                    'query.CurrentRoom~eq': room

                });

                this.add({
                    xtype: 'panel',
                    title: 'Room: '+room,
                    autoHeight: true,
                    autoLoad: url,
                    success: function(data){

                    }
                });

                this.add({
                    tag: 'p',
                    cls: 'pagebreakhere'
                });

                //this.doLayout();
            }, this);

            this.doLayout();


        }
    }).render('printTreatmentsDiv');

});

</script>

<div id='printTreatmentsDiv'></div>