<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/transposeRows.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Project Number'); return false;}

    var project = LABKEY.ActionURL.getParameter('key');

    new EHR.ext.DetailsView({
        schemaName: 'lists',
        queryName: 'project',
        title: 'Project Details:',
        renderTo: 'projectDetails',
        filterArray: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Active Assignments',
        schemaName: 'study',
        queryName: 'Assignment',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
        viewName: 'Active Assignments',
        sort: '-Date',
        scope: this,
        errorCallback: EHR.utils.onError
     }).render('projectAssignments');


    new LABKEY.QueryWebPart({
        title: 'All Assignments',
        schemaName: 'study',
        queryName: 'Assignment',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('project', project, LABKEY.Filter.Types.EQUAL)],
        sort: '-Date',
        scope: this,
        errorCallback: EHR.utils.onError
     }).render('projectTotalAssignments');

    new Ext.Panel({
        title: 'Project Information',
        bodyStyle: 'padding:5px;',
        items: [{
            xtype: 'button'
            ,html: 'View Charges Under This Project'
            ,handler: function(c){
                var params = {schemaName: 'study'};
                params['query.queryName'] = 'charges';
                params['query.project~eq'] = project;

                window.open(LABKEY.ActionURL.buildURL(
                    'ehr',
                    'executeQuery.view',
                    LABKEY.ActionURL.getContainer(),
                    params
                ));
            }
            ,style: 'padding-bottom:10px'
            ,buttonAlign: 'center'
        },{
            xtype: 'button'
            ,html: 'View Procedures Under This Project'
            ,handler: function(c){
                var params = {schemaName: 'study'};
                params['query.queryName'] = 'encounters';
                params['query.project~eq'] = project;

                window.open(LABKEY.ActionURL.buildURL(
                    'ehr',
                    'executeQuery.view',
                    LABKEY.ActionURL.getContainer(),
                    params
                ));
            }
            ,style: 'padding-bottom:10px'
            ,buttonAlign: 'center'
        }]
    }).render('projectLinks');
});

</script>
</head>
<body>
    <p/>

	<div id='projectDetails'></div>

    <p/>

    <div id='projectLinks'></div>

    <p/>

    <div id='projectAssignments'></div>

    <p/>

    <div id='projectTotalAssignments'></div></body>
</html>