<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/utilities.js");

Ext.onReady(makePanel)

function makePanel(){
    if (!window.EHR || !window.EHR.ext || !window.EHR.UTILITIES)
    {
        makePanel.defer(10);
        return;
    }

    var thePanel = Ext.extend(Ext.Panel, {
        initComponent: function(){

            Ext.apply(this, {
                layout: 'table'
                ,width: 280
                ,bodyBorder: false
                ,border: false
                ,defaults: {
                    border: false
                    ,bodyStyle:'align:left'
                },
                layoutConfig: {
                    columns: 2
                }
            })

            thePanel.superclass.initComponent.apply(this, arguments);

            this.add({html: 'Animal:', colspan: 2});

            this.animalField = this.add(new Ext.form.TextField({
                type: 'textbox'
               ,name: 'animal'
               ,width: 160
                })
            );

//            this.animalField = this.add({
//                emptyText:''
//                ,xtype: 'combo'
//                ,displayField:'protocol'
//                ,typeAhead: true
//                ,width: 100
//                ,editable: true
//                ,store: new LABKEY.ext.Store({
//                    containerPath: 'WNPRC/EHR/',
//                    schemaName: 'study',
//                    queryName: 'animal',
//                    sort: 'Id'
//                })
//            });


            this.add(new Ext.Button({
                text: 'Show Animal'
                ,width: 120
                ,style: 'padding-left:5px'
                ,handler: function(){
                    var value = this.animalField.getValue();
                    if (!value) return false;

                    window.location = LABKEY.ActionURL.buildURL(
                        'study'
                        ,'participant'
                        ,'WNPRC/EHR/'
                        ,{participantId: value}
                        );
                }
                ,scope: this
                })
            );

            this.add({html: '<a href="'+(LABKEY.ActionURL.buildURL('ehr','animalSearch','WNPRC/EHR/'))+'">Advanced Animal Search</a>', colspan: 2});

            this.add({html: '<Br>Animal Groups:', colspan: 2});

            this.animalGroup = this.add({
                emptyText:''
                ,xtype: 'combo'
                ,displayField:'label'
                ,valueField: 'viewName'                
                ,typeAhead: true
                ,width: 160
                ,editable: true
                ,triggerAction: 'all'
                ,store: new LABKEY.ext.Store({
                    containerPath: 'WNPRC/EHR/',
                    schemaName: 'lists',
                    queryName: 'animalGroups',
                    sort: 'label'
                })
            });

            this.add(new Ext.Button({
                text: 'Show Group'
                ,width: 120
                ,style: 'padding-left:5px'
                ,handler: function(){
                    var value = this.animalGroup.getValue();
                    if (!value) return false;

                    window.location = LABKEY.ActionURL.buildURL(
                        'query'
                        ,'executeQuery'
                        ,'WNPRC/EHR/'
                        ,{schemaName: 'study', 'query.queryName': 'Animal', 'query.viewName': value}
                        );
                }
                ,scope: this
                })
            );

            this.add({html: '<a href="'+(LABKEY.ActionURL.buildURL('query','executeQuery','WNPRC/EHR/',
                {
                    schemaName: 'study',
                    'query.queryName': 'Animal',
                    'query.viewName': 'Alive, at WNPRC'
                }))+'">View All WNPRC Animals</a>', colspan: 2});

            this.add({html: '<Br>Project:', colspan: 2});


            this.projectField = this.add({
                emptyText:''
                ,xtype: 'combo'
                ,displayField:'project'
                ,valueField: 'project'
                ,typeAhead: true
                ,width: 160
                ,triggerAction: 'all'
                ,editable: true
                ,store: new LABKEY.ext.Store({
                    containerPath: 'WNPRC/EHR/',
                    schemaName: 'lists',
                    queryName: 'project',
                    sort: 'project'
                })
            });

            this.add(new Ext.Button({
                text: 'Show Project'
                ,width: 120
                ,style: 'padding-left:5px'
                ,handler: function(){
                    var value = this.projectField.getValue();
                    if (!value) return false;

                    window.location = LABKEY.ActionURL.buildURL(
                        'ehr'
                        ,'projectDetails'
                        ,'WNPRC/EHR/'
                        ,{key: value});
                }
                ,scope: this
                })
            );

            this.add({html: '<a href="'+(LABKEY.ActionURL.buildURL('ehr','projectQueries','WNPRC/EHR/'))+'">Advanced Project Search</a>', colspan: 2});

            this.add({html: '<Br>Protocol:', colspan: 2});

            this.protocolField = this.add({
                emptyText:''
                ,xtype: 'combo'
                ,displayField:'protocol'
                ,valueField: 'protocol'
                ,typeAhead: true
                ,width: 160
                ,triggerAction: 'all'
                ,editable: true
                ,store: new LABKEY.ext.Store({
                    containerPath: 'WNPRC/EHR/',
                    schemaName: 'lists',
                    queryName: 'protocol',
                    sort: 'protocol'
                })
            });

            this.add(new Ext.Button({
                text: 'Show Protocol'
                ,width: 120
                ,style: 'padding-left:5px'
                ,handler: function(){
                    var value = this.protocolField.getValue();
                    
                    if (!value) return false;

                    window.location = LABKEY.ActionURL.buildURL(
                        'ehr'
                        ,'protocolDetails'
                        ,'WNPRC/EHR/'
                        ,{key: value});
                }
                ,scope: this
                })
            );

            this.add({html: '<a href="'+(LABKEY.ActionURL.buildURL('ehr','projectQueries','WNPRC/EHR/'))+'">Advanced Protocol Search</a>', colspan: 2});

            this.add({html: '<Br>Room:', colspan: 2});

            this.roomField = this.add(new Ext.form.TextField({
                type: 'textbox'
               ,name: 'room'
               ,width: 160
                })
            );

//            this.roomField = this.add({
//                emptyText:''
//                ,xtype: 'combo'
//                ,displayField:'room'
//                ,valueField: 'room'
//                ,typeAhead: true
//                ,width: 120
//                ,editable: true
//                ,store: new LABKEY.ext.Store({
//                    containerPath: 'WNPRC/EHR/',
//                    schemaName: 'study',
//                    queryName: 'housing',
//                    sort: 'room'
//                })
//            });

            this.add(new Ext.Button({
                text: 'Show Room'
                ,width: 120
                ,style: 'padding-left:5px'
                ,handler: function(){
                    var value = this.roomField.getValue();
                    if (!value) return false;

                    window.location = LABKEY.ActionURL.buildURL(
                        'query'
                        ,'executeQuery'
                        ,'WNPRC/EHR/'
                        ,{'schemaName':'study', 'query.queryName':'Animal', 'query.Dataset/Demographics/Room~startswith': value, 'query.viewName': 'Alive, at WNPRC'});

                }
                ,scope: this
                })
            );

            this.add({html: '<a href="'+(LABKEY.ActionURL.buildURL('ehr','housingQueries','WNPRC/EHR/'))+'">Advanced Housing Search</a>', colspan: 2});
        }
    });


    var panel = new thePanel();

    panel.render('thePanel');

}
    





</script>
</head>
<body>

<div id="thePanel"></div>

</body>
</html>