<script type="text/javascript" nonce="<%=scriptNonce%>">

  var webpartContext = <%=webpartContext%>;

  Ext4.define('EHR.panel.EnterDataPanel' , {

    extend: 'LABKEY.ext4.BootstrapTabPanel',
    border: false,
    autoHeight: true,
    layout: 'anchor',
    width: '100%',
    boxMinWidth: 1000,

    initComponent: function() {
      this.items = this.getItems();
      this.callParent();
    },

    listeners: {
      render: function (r) {
        this.restoreFromUrl();
      }
    },
    restoreFromUrl: function () {
    },

    onSuccessResize: function (dr){
      var width1 = Ext4.get(dr.domId).getSize().width + 50;
      var width2 = Ext4.get(this.id).getSize().width;

      if(width1 > width2){
        console.log(width1+'/'+width2)
        Ext4.get(webpartContext.wrapperDivId).setWidth(width1);
        console.log('resizing')
      }
      else {
        Ext4.get(webpartContext.wrapperDivId).setWidth('100%');
      }
    },

    getItems: function() {
      return [
        {
          title: 'My Requests',
          ref: 'MyRequests',
          items: [{
            itemId: 'MyRequests',
            xtype: 'ldk-querycmp',
            cls: 'my-requests-marker',
            queryConfig: {
              schemaName: 'ehr',
              queryName: 'my_requests',
              scope: this,
              success: this.onSuccessResize
            }
          }]
        },
        {
          title: 'Blood Draw Queue',
          ref: 'BloodDrawQueue',
          items: [{
            itemId: 'BloodDrawQueue',
            xtype: 'ldk-querycmp',
            cls: 'blooddrawqueue-marker',
            queryConfig: {
              schemaName: 'study',
              queryName: 'Blood Draws',
              scope: this,
              success: this.onSuccessResize
            }
          }]
        },
        {
          title: 'Clinpath Queue',
          ref: 'ClinpathQueue',
          items: [{
            itemId: 'ClinpathQueue',
            xtype: 'ldk-querycmp',
            cls: 'clinpathqueue-marker',
            queryConfig: {
              schemaName: 'study',
              queryName: 'Clinpath Runs',
              filters: [
                LABKEY.Filter.create('QCState/Label', 'Request', LABKEY.Filter.Types.STARTS_WITH)
              ],
              scope: this,
              success: this.onSuccessResize
            }
          }]
        },

        {
          title: 'Procedure Queue',
          ref: 'ProcedureQueue',
          items: [{
            itemId: 'ProcedureQueue',
            xtype: 'ldk-querycmp',
            cls: 'clinicalencounters-marker',
            queryConfig: {
              schemaName: 'study',
              queryName: 'Clinical Encounters',
              filters: [
                LABKEY.Filter.create('QCState/Label', 'Request', LABKEY.Filter.Types.STARTS_WITH)
              ],
              scope: this,
              success: this.onSuccessResize
            }
          }]
        },

      ]

    },

  });

  Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    var ctx = EHR.Utils.getEHRContext(webpart.wrapperDivId);
    if(!ctx)
      return;


    var dataEntryMenuDivId = 'dataEntryMenuDiv_' + webpart.wrapperDivId;
    var taskTabPanelDivId  = 'ehrTasks_' + webpart.wrapperDivId;
    var wrapperDivElement  = Ext4.get(webpart.wrapperDivId);

    Ext4.DomHelper.append(wrapperDivElement, [
      {
        tag:   'div',
        id:    dataEntryMenuDivId,
        style: 'padding-bottom: 10px;'
      },
      {
        tag:   'div',
        id:    taskTabPanelDivId,
        style: 'padding-bottom: 10px;'
      }
    ]);

    var domSpec = [{
      tag: 'h3',
      html: 'Overview'
    },{
      tag: 'div',
      id: 'ehrRequests_' + webpart.wrapperDivId
    },{
      tag: 'h3',
      html: 'Requests:'
    },{
      tag: 'ul',
      children: [{
        tag: 'li',
        html: '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/manageRequest.view?formtype=Blood%20Draw%20Request">Request Blood Draws</a>'
      },{
        tag: 'li',
        html: '<a href="<%=contextPath%>/ehr' + ctx['EHRStudyContainer'] + '/manageRequest.view?formtype=Clinpath%20Request">Request Clinpath Services</a>'
      }]
    }]

    var el = Ext.get(webpart.wrapperDivId);
    Ext.DomHelper.append(el, domSpec);

    var taskpanel = new EHR.panel.EnterDataPanel().render('ehrRequests_' + webpart.wrapperDivId);
  });
</script>