

<html>
<head>
<script>
//LABKEY.requiresScript("/ehr/ExcelUploadPanel.js");

Ext.onReady(function(){
//    new LABKEY.ext.ExcelUploadPanel({
//        schemaName: 'study',
//        queryName: 'Arrival'
//    }).render('testDiv');


    LABKEY.Query.insertRows({
         //it would be nice to store them in the current folder, but we cant guarantee they have write access..
         containerPath: '/shared',
         schemaName: 'auditlog',
         queryName: 'audit',
         rows: [{
            EventType: "Client API Actions",
            Key1: "Client Error",
            Key2: window.location.href.substr(0,200),
            Key3: window.location.hash.substr(0,200),
            Comment: (error.exception || error.statusText),
            Date: new Date()
         }],
         success: function(){
             console.log('Error successfully logged')
         },
         failure: function(error){
            console.log('Problem logging error');
            console.log(error)
         }
    });




});

</script>
</head>

<body>

<div id="testDiv"></div>

</body>
</html>