

<html>
<head>
<script>

//displays grid of products that have been ordered but have not yet arrived. allows user to select orders to mark as recevied. displays popup to provide information on where product was located in the lab. sends an email (if SMTP is configured) to the person who ordered the product alerting them to its arrival

//script logic

//first display list of all purchases that need to be ordered

populateGrid('lists','all_purchases','receiveDiv','receiveGrid','mark orders as received','mark_received')

//create grid to display products that could be marked as received

function populateGrid(schema,query,render,region,title,view)

//render grid	
{
	new LABKEY.QueryWebPart
	(
			{
				renderTo: render,
				dataRegionName: region,
				frame: 'none',
				title: title,
				showDetailsColumn: false,
				showUpdateColumn: false,
				schemaName: schema,
				queryName: query,
				viewName: view,
				buttonBarPosition: 'top',
				buttonBar: {
					includeStandardButtons: false,
					items:[
					       {text: 'Mark as Received', requiresSelection: true, handler: markReceived},
					       ]
				},
				showRecordSelectors: true,
				allowChooseQuery: false
			}
	);
};

//on button click, select checked rows, create dialog to choose location where products are received, and update records

function markReceived(dataRegion, dataRegionName)
{
	var checkedRows = dataRegion.getChecked();

	//change delimiter to semicolon for use in LABKEY.Filter
	var checkedRowsSemicolon = checkedRows.join(";")

	LABKEY.Query.selectRows({
		schemaName: 'lists',
		queryName: 'purchases',
		successCallback: selectRows,
		failureCallback: onFailure,
		filterArray: [
          LABKEY.Filter.create('Key', checkedRowsSemicolon, LABKEY.Filter.Types.EQUALS_ONE_OF)
        ]
	});

	//store results of selectRows query
	function selectRows(data)
	{
		var selected = data;

        if(!data.rows || !data.rows.length){
            alert('ERROR: Unable to find the purchases matching: '+checkedRowsSemicolon);
            console.log(data);
            return;
        }

		//create function to make text box and capture location. needs to be nested to be in scope
		function makeForm()
		{
			var confNum = new Ext.form.TextField({
				fieldLabel: 'Freezer location',
				name: 'location',
				ref: 'location',
				emptyText: ''
			});

			var theForm = new Ext.FormPanel({
				xtype: 'form',
				layout: 'form',
				width: 300,
				ref: 'theForm',
				border: false,
				labelWidth: 130,
				items:[confNum]
			});

			var theWindow = new Ext.Window({
				title: 'Mark order as received',
				width: 320,
				bodyStyle: 'background-color:#fff;padding: 10px',
				items: theForm,
				buttonAlign: 'center',
				buttons: [{
					text:'Submit',
					disabled:false,
					formBind: true,
					ref: '../submit',
					scope: this,
					handler: function()
					{
						theWindow.hide();
						var location = theWindow.theForm.location.getValue();
						updateRecords(location,selected);
					}
				},
				{ 		
					text:'Cancel',
					disabled:false,
					formBind: true,
					ref: '../submit',
					scope: this,
					handler: function(){
						theWindow.hide()
					}
				}] 
			});	

			theWindow.show();	
		};

		//draw text box. calls updateRecords function on submit of text box to update records
		makeForm();    
	};
};



//update records in labkey

function updateRecords(location, data)
{   	

	var sentEmails = [];


	//get current date
	var now = new Date();

	//get current user
	var user =  LABKEY.Security.currentUser.displayName;

	//count number of records affected
	var recCt = data.rows.length;


	var dataArray = [];

	for(var i = 0; i < data.rows.length; i++){
		dataArray.push({
			Key: data.rows[i].Key,
			status: 3,
			location: location,
			receivedDate: now,
			receivedBy: user
		});

	}

	LABKEY.Query.updateRows({
		schemaName: 'lists',
		queryName: 'purchases',
		rowDataArray: dataArray,
		successCallback: function(d){

			var i = 0;
			selectAndSend(i);
			function selectAndSend(i){

				var date = now.format('Y-m-d');
				var email;
				var item = data.rows[i].item;
				console.log(data.rows[i].Key);
				console.log(item);

				LABKEY.Query.selectRows({
					schemaName: 'lists',
					queryName: 'purchases_status',
					filterArray: [LABKEY.Filter.create('orderNumber', data.rows[i].Key, LABKEY.Filter.Types.EQUAL)],
					successCallback: function(d){
						var tempuserId = d.rows[0].placedBy;

                        if(!tempuserId){
                            alert('ERROR: The person who placed this order was not found.');
                            console.log(d.rows);
                            return;
                        }

						LABKEY.Query.selectRows({
							schemaName: 'core',
							queryName: 'Users',
							filterArray: [LABKEY.Filter.create('UserId', tempuserId, LABKEY.Filter.Types.EQUAL)],
							successCallback: function(d){
                                if(d.rows.length != 1){
                                    alert('Something went wrong.  Please contact Dave.');
                                    return;
                                }

								email = d.rows[0].Email;
								var html = '<h3>Your order: <br><br>  ' + item + ' <br><br> was received on ' + date + ' by ' + user + ' and placed in ' + location + '</h3>';						
								sentEmails.push(email);
                                //send emails only works if you are running an SMTP server on the LabKey server
								LABKEY.Message.sendMessage({
									msgFrom: LABKEY.Security.currentUser.email,
									msgSubject: item + ' received on ' + date,
									msgRecipients: [ LABKEY.Message.createRecipient(LABKEY.Message.recipientType.to, email) ],
									msgContent: [ LABKEY.Message.createMsgContent(LABKEY.Message.msgType.html, html) ],
									successCallback: function(){										
										i++;
										if(i < data.rows.length){
											selectAndSend(i);
										} else {
											onSuccess();
										}
										console.log('sent email');
                                    },
									failureCallback: onFailure
								});
							}						
						});						
					}
				});
			}
		},
		failureCallback: onFailure
	});


	//update status notification
	function onSuccess()
	{
		//dialog to user showing order status. 
		var notice = (recCt + ' products have been marked received and notifications sent to ' + sentEmails.join(' and ') + ' on ' + now);

		//display notice to user
		var theWindow = new Ext.Window({
			title: 'Mark order as received',
			width: 320,
			bodyStyle: 'background-color:#fff;padding: 10px',
			html: notice,
			modal: true,
			buttons: [{
				text:'OK',
				disabled:false,
				formBind: true,
				ref: '../submit',
				scope: this,
				handler: function()
				{
					reloadWin();
				}
			}]
		});	

		theWindow.show();	

		function reloadWin()
		{
			//refresh browser to show unordered products
			theWindow.hide();
			window.location.reload( true );
		};     
	};
};


//generic failure
function onFailure(errorInfo, options, responseObj)
{
	if(errorInfo && errorInfo.exception)
		alert("Failure: " + errorInfo.exception);
	else
		alert("Failure: " + responseObj.statusText);
};                

</script>
</head>

<body>

<div id="receiveDiv"></div>

</body>
</html>