<!--<html>-->
<!--<head>-->

<script type="text/javascript">

Ext.onReady(function ()
{
//  var reportWebPartRenderer = new LABKEY.WebPart({
//         partName: 'Discussion',
//         renderTo: 'clinRemarks',
//         //containerPath: '/home/Study/demo/guestaccess',
//         //frame: 'title',
//         partConfig: {
//             entityId: '1'
//     }});
//     reportWebPartRenderer.render();

    LABKEY.Security.getUserPermissions({
        userEmail: 'bimber@wisc.edu',
        success: function(data, response){
            console.log(arguments);
        }
    })
});



</script>
<!--</head>-->
<!--<body>-->

    <div id='clinRemarks'></div>

<!--</body>-->
<!--</html>-->
