<html>
<head>

<script type="text/javascript">

LABKEY.requiresScript("/ehr/transposeRows.js");

Ext.onReady(function ()
{
    if (!LABKEY.ActionURL.getParameter('key')){alert('Must Provide Treatment ID'); return false;}

    var lsid = LABKEY.ActionURL.getParameter('key');

    new EHR.ext.DetailsView({
        schemaName: 'study',
        queryName: 'Treatment Orders',
        title: 'Treatment Details:',
        renderTo: 'treatmentDetails',
        filterArray: [LABKEY.Filter.create('lsid', lsid, LABKEY.Filter.Types.EQUAL)]
    });

    new LABKEY.QueryWebPart({
        title: 'Treatment Schedule',
        schemaName: 'study',
        queryName: 'treatmentSchedule',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('lsid', lsid, LABKEY.Filter.Types.EQUAL)],
        //sort: '-Date',
        scope: this,
        failure: EHR.utils.onError
     }).render('treatmentSchedule');

    new LABKEY.QueryWebPart({
        title: 'Treatment History',
        schemaName: 'study',
        queryName: 'Drug Administration',
        allowChooseQuery: false,
        allowChooseView: true,
        showInsertNewButton: false,
        showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: false,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        filters: [LABKEY.Filter.create('parentId', lsid, LABKEY.Filter.Types.STARTS_WITH)],
        //sort: '-Date',
        scope: this,
        failure: EHR.utils.onError
     }).render('treatmentHistory');
});

</script>
</head>
<body>
    <p/>

	<div id='treatmentDetails'></div>

    <p/>

    <div id='treatmentSchedule'></div>

    <p/>

    <div id='treatmentHistory'></div>
</body>
</html>