<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/utils.js");
LABKEY.requiresScript("/ehr/studyButtons.js");

Ext.onReady(function (){
    var query = LABKEY.ActionURL.getParameter('query.queryName') || LABKEY.ActionURL.getParameter('queryName');
    var schema = LABKEY.ActionURL.getParameter('schemaName');

    LABKEY.NavTrail.setTrail(EHR.Utils.toTitleCase(query));

    var updateURL = '/ehr/manageRecord.view?schemaName='+schema+'&queryName='+query+'&keyField='+LABKEY.ActionURL.getParameter('keyField')+'&key=${'+LABKEY.ActionURL.getParameter('keyField')+'}&update=1';
    var insertURL = '/ehr/manageRecord.view?schemaName='+schema+'&queryName='+query+'&keyField='+LABKEY.ActionURL.getParameter('keyField')+'&update=1';
    var deleteURL = '/query/deleteQueryRows.view?schemaName='+schema+'&query.queryName='+query;

    var config = {
        title: query,
        schemaName: schema,
        queryName: query,
        allowChooseQuery: false,
        allowChooseView: true,
        //showInsertNewButton: false,
        //showDeleteButton: false,
        showDetailsColumn: true,
        showUpdateColumn: true,
        showRecordSelectors: true,
        buttonBarPosition: 'top',
        frame: 'none',
        dataRegionName: 'query',
        updateURL: updateURL,
        insertURL: insertURL,
        deleteURL: deleteURL,
        scope: this,
        timeout: 0,
        linkTarget: '_blank',
        failure: EHR.Utils.onError
    };

    new LABKEY.QueryWebPart(config).render('qwpDiv');

});


</script>
</head>

<body>

<div id="qwpDiv"></div>

</body>
</html>