<html>
<head>
<script type="text/javascript">

LABKEY.requiresScript("/ehr/arrayUtils.js");

function unique(){
    var input = document.getElementById('unique').value;
    var input = cleanSplit(input);

    input = input.unique();
    input.sort();

    document.getElementById('uniqueTarget').value = input.join('\n');
}

function intersect(){
    var input1 = document.getElementById('intersect1').value;
    var input1 = cleanSplit(input1);

    var input2 = document.getElementById('intersect2').value;
    var input2 = cleanSplit(input2);

    input1 = input1.intersect(input2);
    input1.sort();

    document.getElementById('intersectTarget').value = input1.join('\n');
}

function subtract(){
    var input1 = document.getElementById('subtract1').value;
    var input1 = cleanSplit(input1);

    var input2 = document.getElementById('subtract2').value;
    var input2 = cleanSplit(input2);
    input1.sort();

    input1 = input1.subtract(input2);

    document.getElementById('subtractTarget').value = input1.join('\n');
}



function cleanSplit(input){
    input = input.replace(/[\s,;]+/g, ';');
    input = input.replace(/(^;|;$)/g, '');
    input = input.split(';');
    input.sort();
    return input;
}

</script>
</head>

<body>
This page contains an several basic utilities to process lists of animal names (can actually be used on anything).
<p/>
To use, simply cut/paste or type a list of IDs into the box(es) on the left.  Hit the arrow to process.  Results will appear on the right.
<p/>
<h2>Return List of Unique IDs</h2>

<table>
<tr>
    <td>List of Animals:<br><textarea rows="10" cols="30" id="unique"></textarea></td>
    <td><button onclick=unique()>--></button></td>
    <td>Unique IDs:<br><textarea rows="10" cols="30" id="uniqueTarget"></textarea></td>
</tr>
</table>

<p/>
<hr>
<p/>
<h2>Return Intersect of Two Lists</h2>

<table>
<tr>
    <td>List 1:<br><textarea rows="10" cols="30" id="intersect1"></textarea></td>
    <td>List 2:<br><textarea rows="10" cols="30" id="intersect2"></textarea></td>
    <td><button onclick=intersect()>--></button></td>
    <td>Shared IDs:<br><textarea rows="10" cols="30" id="intersectTarget"></textarea></td>
</tr>
</table>

<p/>
<hr>
<p/>

<h2>Subtract List 2 from List 1</h2>

<table>
<tr>
    <td>List 1:<br><textarea rows="10" cols="30" id="subtract1"></textarea></td>
    <td>List 2:<br><textarea rows="10" cols="30" id="subtract2"></textarea></td>
    <td><button onclick=subtract()>--></button></td>
    <td>IDs:<br><textarea rows="10" cols="30" id="subtractTarget"></textarea></td>
</tr>
</table>

<p/>


</body>
</html>