

<script type="text/javascript">

LABKEY.requiresScript("fileBrowser.js");
var EHR = {};

Ext.onReady(function(){

    EHR.WebdavFileSystem = Ext.extend(LABKEY.WebdavFileSystem, {
        movePath : function(source, dest, isFile, callback){

            try
            {
                var resourcePath = this.concatPaths(this.prefixUrl, encodePath(path));
                var fileSystem = this;
                var connection = new Ext.data.Connection();
                connection.handleResponse = function(response)
                {
                    if (204 == response.status || 404 == response.status) // NO_CONTENT (success), NOT_FOUND (actually goes to handleFailure)
                    {
                        // CONSIDER just delete one entry
                        if (!isFile)
                            fileSystem.uncacheListing(path);
                        else
                            fileSystem.uncacheListing(fileSystem.parentPath(path));
                        callback(fileSystem, true, path, response);
                    }
                    else if (405 == response.status) // METHOD_NOT_ALLOWED
                        callback(fileSystem, false, path, response);
                    else
                        window.alert(response.statusText);
                }
                connection.request({method:"DELETE", url:resourcePath});
            }
            catch (x)
            {
                window.alert(x);
            }
            return true;
        }
});

    var wd = new EHR.WebdavFileSystem({
//            baseUrl: LABKEY.ActionURL.getContainerName(),
            rootName: decodeURIComponent(LABKEY.ActionURL.getContainerName())
        });

        console.log(wd);
    });





</script>