<script type="text/javascript">
    LABKEY.requiresScript("/ehr/AssayUtils.js");
</script>
<script type="text/javascript">
//NOTE: this is probably no longer in use with the possible exception of oconnor.  should be depreciated
Ext.onReady(function (){
    var webpart = <%=webpartContext%>;
    var webPartRenderer = new LABKEY.WebPart({
		partName: 'Workbooks',
		renderTo: webpart.wrapperDivId,
        frame: 'none'
		}).render();

    if(LABKEY.ActionURL.getParameter('assayId')){
        LABKEY.Assay.getById({
            id: LABKEY.ActionURL.getParameter('assayId'),
            successCallback: function(assay){
                EHR.Assay.showButtonBar(assay[0]);
            }
        });
    }
});

</script>