<html>
<head>
    <script type="text/javascript">

        Ext.onReady(function()
        {
            var employeeContainer = '/WNPRC/WNPRC_Units/Animal_Services/Compliance_Training/Private/EmployeeDB/';

            var userName = LABKEY.Security.currentUser.email;
            //we find this employee's info
            var employeeRecord = new LABKEY.ext.Store({
                schemaName: 'ehr_compliancedb',
                queryName: 'Employees',
                containerPath: employeeContainer,
                //need to update once we have real unique IDs in the tables
                filterArray: [LABKEY.Filter.create('Email', userName, LABKEY.Filter.Types.EQUAL)
                ]
            });

            employeeRecord.on('load', loadRequirements);
            employeeRecord.load();

            function loadRequirements()
            {
                if (employeeRecord.data.items.length < 1){alert('No Records Found for user ID: '+userName+'. Contact Sandra Boehm if this is an error.');return;}

                employeeRecord = employeeRecord.data.items[0];

                new LABKEY.QueryWebPart({
                    renderTo: 'myRequirementsDiv',
                    dataRegionName: 'myRequirementsDiv',
                    title: 'My Requirements',
                    schemaName: 'ehr_compliancedb',
                    queryName: 'ComplianceRecentTests',
                    containerPath: employeeContainer,
                    filterArray: [LABKEY.Filter.create('employeeid', employeeRecord.get('employeeid'), LABKEY.Filter.Types.EQUAL)],
                    buttonBarPosition: 'top',
                    showRecordSelectors: true,
                    allowChooseQuery: false,
                    allowChooseView: true,
                    showDetailsColumn: false,
                    timeout: 0
                });
            }

        });


    </script>
</head>

<body>
<p>

<div id='myRequirementsDiv'></div>


</body>
</html>